HOST: http://gonzales.vifi.ee/api/
--- Vifi API 1.5 ---
---
Below you will find a current list of the available methods on following functionalities:

- Searching and filtering titles by different scopes
- Fetching related metadata for the titles. (Images, Actors, Languages, Studios, Available video formats etc)
- User registration and authentication flow
- Localisation
- Content export / import
- Session pairing with other devices
- Purchase flow for subscription / single-purchase products
- Personalisation features for user profiles
- Messaging
- Statistics
- Playhead functionality


###New! TV (Oct. 25, 2014)###
Our TV API has just been released. It's currently out of preview and stable.


### Response Formats
Response formats available are JSON/JSONP and XML. Default is configured per distributor and it can be changed by giving a "format" parameter on the query string indicating either "json" or "xml".
JSONP is also officially supported, just add a `callback` parameter to your request and the response will be encapsulated in the value you specified.

### Request Rate Limiting
We do enforce a small amount of rate limiting. Please be aware that should you exceed these limits, you will receive a 503 error.

* 30 requests every 10 seconds per IP
* Maximum 20 simultaneous connections per IP

### Status Codes
At different times while using our API you might come across an error and/or status code. For a detailed look at what these codes mean, [check out the list](https://www.themoviedb.org/documentation/api/status-codes) on our website.

### HTTPS / SSL
We now support SSL. Just make an https:// call instead of http:// and you're all set.

### Required Parameters
Every request needs a valid API key and you can set this value as an HTTP parameter. A full request example looks like so:

    http://gonzales.vifi.ee/api/search?api_key=###

In case user requests are proxied through content distributors server, "ip_address" parameter is mandatory in the requests. 
We recommend including "user_agent" and "device_id" parameters as well to enable session pairing / syncing functionalities.

### Languages
Our API supports translations for content related queries. You can request localised content by adding "language" parameter to the request with the country code. If the content has not been translated, fallback will be english. 

### Proxying requests

### Apiary Transparent Proxy
This is an optional service you can use to help troubleshoot requests. You are not required to use it in any capacity. In real world use, we expect you to use our production end point.
---

--
Configuration
--

**Updated on Dec. 13, 2013**

Get the system wide configuration information. Some elements of the API require some knowledge of this configuration data. The purpose of this is to try and keep the actual API responses as light as possible. It is recommended you cache this data within your application and check for updates every few days.

This method currently holds the data relevant to building image URLs as well as the change key map.

To build an image URL, you will need 3 pieces of data. The `base_url`, `size` and `file_path`. Simply combine them all and you will have a fully qualified URL. Here’s an example URL:

    http://image.tmdb.org/t/p/w500/8uO0gUM8aNqYLs1OsTBQiXu0fEv.jpg

<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td style="padding-left: 0;" colspan="2"><strong>Required Parameters</strong></td></tr>
<tr><td style="padding-left: 0;" colspan="2">api_key</td></tr>
</table>

GET /configuration
> Accept: application/json
< 200
< Content-Type: application/json
{
  "images": {
    "base_url": "http://image.tmdb.org/t/p/",
    "secure_base_url": "https://image.tmdb.org/t/p/",
    "backdrop_sizes": [
      "w300",
      "w780",
      "w1280",
      "original"
    ],
    "logo_sizes": [
      "w45",
      "w92",
      "w154",
      "w185",
      "w300",
      "w500",
      "original"
    ],
    "poster_sizes": [
      "w92",
      "w154",
      "w185",
      "w342",
      "w500",
      "w780",
      "original"
    ],
    "profile_sizes": [
      "w45",
      "w185",
      "h632",
      "original"
    ],
    "still_sizes": [
      "w92",
      "w185",
      "w300",
      "original"
    ]
  },
  "change_keys": [
    "adult",
    "also_known_as",
    "alternative_titles",
    "biography",
    "birthday",
    "budget",
    "cast",
    "character_names",
    "crew",
    "deathday",
    "general",
    "genres",
    "homepage",
    "images",
    "imdb_id",
    "name",
    "original_title",
    "overview",
    "plot_keywords",
    "production_companies",
    "production_countries",
    "releases",
    "revenue",
    "runtime",
    "spoken_languages",
    "status",
    "tagline",
    "title",
    "trailers",
    "translations"
  ]
}

--
Account
--

Get the basic information for an account. You will need to have a [valid session id](#authentication).

<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td style="padding-left: 0;" colspan="2"><strong>Required Parameters</strong></td></tr>
<tr><td style="padding-left: 0;" colspan="2">api_key</td></tr>
<tr><td style="padding-left: 0;" colspan="2">session_id</td></tr>
</table>

GET /account
> Accept: application/json
< 200
< Content-Type: application/json
{
  "avatar": {
    "gravatar": {
      "hash": "c9e9fc152ee756a200db85757c29815d"
    }
  },
  "id": 36,
  "iso_639_1": "en",
  "iso_3166_1": "CA",
  "name": "John Doe",
  "include_adult": false,
  "username": "johndoe"
}

Get the lists that you have created and marked as a favorite.

<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td colspan="2"><strong>Required Parameters</strong></td></tr>
<tr><td colspan="2">api_key</td></tr>
<tr><td colspan="2">session_id</td></tr>
<tr><td colspan="2"><strong>Optional Parameters</strong></td></tr>
<tr><td style="padding-right: 40px; width: 140px;">page</td><td>Minimum 1, maximum 1000.</td></tr>
<tr><td style="padding-right: 40px; width: 140px;">language</td><td>ISO 639-1 code. Without one set, we default to the language set in the requested account.</td></tr>
</table>

GET /account/{id}/lists
> Accept: application/json
< 200
< Content-Type: application/json
{
    "page": 1,
    "results": [
        {
            "description": "A list of \"frightful flicks waiting to be rediscovered\" -- compiled by the self-described leading name in the world of horror: Fangoria magazine.",
            "favorite_count": 2,
            "id": "50a6724919c295084b000028",
            "item_count": 101,
            "iso_639_1": "en",
            "list_type": "movie",
            "name": "Fangoria's 101 Best Horror Movies You've Never Seen",
            "poster_path": "/3sL73Vy4kkrH4P61RA0n6UyYGlQ.jpg"
        },
        {
            "description": "Part of the AFI 100 Years… series, AFI's 100 Years…100 Thrills is a list of the top 100 heart-pounding movies in American cinema. The list was unveiled by the American Film Institute on June 12, 2001, during a CBS special hosted by Harrison Ford.",
            "favorite_count": 2,
            "id": "50a54d01760ee32e1400000b",
            "item_count": 100,
            "iso_639_1": "en",
            "list_type": "movie",
            "name": "AFI's 100 Most Thrilling American Films",
            "poster_path": "/tayO4gCLyEo8Uul8FHkJGy3Kppb.jpg"
        },
        {
            "description": "A list of films that earned its actresses the Razzie Award for Worst Actress of the year.",
            "favorite_count": 2,
            "id": "509fca90760ee3490f000a12",
            "item_count": 40,
            "iso_639_1": "en",
            "list_type": "movie",
            "name": "Films featuring a Razzie winning Worst Actress Performance",
            "poster_path": "/eL61XP1l8H0qrBPJoKqhXdxumkw.jpg"
        },
        {
            "description": "A list of all films in the Star Wars universe including the theatrical motion picture releases.",
            "favorite_count": 2,
            "id": "509fc02119c295114a0007cb",
            "item_count": 14,
            "iso_639_1": "en",
            "list_type": "movie",
            "name": "Star Wars Expanded Universe",
            "poster_path": "/rf6uEcD5V8zs4J7Huo5L9sYgSki.jpg"
        },
        {
            "description": "Here's my list of best picture winners for the Oscars. Thought it would be neat to see them all together. There's a lot of movies here I have never even heard of.",
            "favorite_count": 1,
            "id": "509ec17c19c2950a0600050e",
            "item_count": 84,
            "iso_639_1": "en",
            "list_type": "movie",
            "name": "Best Picture Winners - The Academy Awards",
            "poster_path": "/efBm2Nm2v5kQnO0w3hYcW6hVsJU.jpg"
        },
        {
            "description": "A list of the films that were nominated at the 2008 Oscars for best picture.",
            "favorite_count": 1,
            "id": "509ec007760ee36f0c000917",
            "item_count": 5,
            "iso_639_1": "en",
            "list_type": "movie",
            "name": "80th Academy Awards (2008) - Best Picture Nominations",
            "poster_path": "/nWwFabqFaBbukXdkUCmtnrFxPNh.jpg"
        },
        {
            "description": "The View Askewniverse is a fictional universe created by writer/director Kevin Smith, featured in several films, comics and a television series; it is named for Smith's production company, View Askew Productions.",
            "favorite_count": 2,
            "id": "509691b119c29532730008fb",
            "item_count": 6,
            "iso_639_1": "en",
            "list_type": "movie",
            "name": "The View Askewniverse",
            "poster_path": "/tGmU66LL8edoRm1RO7sbrz1xuhr.jpg"
        },
        {
            "description": "Name pretty much says it all, here's the top 50 grossing films of all time.",
            "favorite_count": 2,
            "id": "50957b1419c295013800023e",
            "item_count": 50,
            "iso_639_1": "en",
            "list_type": "movie",
            "name": "Top 50 Grossing Films of All Time (Worldwide)",
            "poster_path": "/sRbZeVtRKIWybTOVpCRPZtzW5bd.jpg"
        },
        {
            "description": "A list of the films that were nominated at the 2009 Oscars for best picture.",
            "favorite_count": 2,
            "id": "50957064760ee3698a001fc1",
            "item_count": 5,
            "iso_639_1": "en",
            "list_type": "movie",
            "name": "81st Academy Awards (2009) - Best Picture Nominations",
            "poster_path": "/gShtwIvdSHgCEQRZfymNkEUEwFm.jpg"
        },
        {
            "description": "A list of the films that were nominated at the 2010 Oscars for best picture.",
            "favorite_count": 2,
            "id": "50956fd2760ee3698a001fb1",
            "item_count": 10,
            "iso_639_1": "en",
            "list_type": "movie",
            "name": "82nd Academy Awards (2010) - Best Picture Nominations",
            "poster_path": "/8iwe0iP49A6Gqcv31jBleZDZqI4.jpg"
        },
        {
            "description": "A list of the theatrical releases for Marvel's Avengers characters that are in the latest Avengers movie.",
            "favorite_count": 3,
            "id": "50953114760ee34b91000293",
            "item_count": 7,
            "iso_639_1": "en",
            "list_type": "movie",
            "name": "The Avengers",
            "poster_path": "/2i89ujVkhJebuoB2zy6QZcwbr2N.jpg"
        },
        {
            "description": "A list of the films that were nominated at the 2011 Oscars for best picture.",
            "favorite_count": 1,
            "id": "509431ad19c2950b01000004",
            "item_count": 10,
            "iso_639_1": "en",
            "list_type": "movie",
            "name": "83rd Academy Awards (2011) - Best Picture Nominations",
            "poster_path": "/iAHDZPyLD3NW7GuNV6U1TVtb0hN.jpg"
        },
        {
            "description": "Here's a list of the films that take place in the DC Comics universe.",
            "favorite_count": 2,
            "id": "5094147819c2955e4c00006b",
            "item_count": 22,
            "iso_639_1": "en",
            "list_type": "movie",
            "name": "The DC Comics Universe",
            "poster_path": "/4H1jWsgEQOgTs4KeG5j5BorKMfX.jpg"
        },
        {
            "description": "A list of the films that were nominated at the 2012 Oscars for best picture.",
            "favorite_count": 1,
            "id": "50941340760ee35da9000054",
            "item_count": 9,
            "iso_639_1": "en",
            "list_type": "movie",
            "name": "84th Academy Awards (2012) - Best Picture Nominations",
            "poster_path": "/zRqBleU93WncYnIwt8LAanQerZ7.jpg"
        },
        {
            "description": "The idea behind this list is to collect the live action comic book movies from within the Marvel franchise.",
            "favorite_count": 5,
            "id": "50941077760ee35e1500000d",
            "item_count": 33,
            "iso_639_1": "en",
            "list_type": "movie",
            "name": "The Marvel Universe",
            "poster_path": "/w2JbuNpBnfevl0yCcYEm6vNFWdi.jpg"
        }
    ],
    "total_pages": 1,
    "total_results": 15
}

Get the list of favorite movies for an account.

<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td colspan="2"><strong>Required Parameters</strong></td></tr>
<tr><td colspan="2">api_key</td></tr>
<tr><td colspan="2">session_id</td></tr>
<tr><td colspan="2"><strong>Optional Parameters</strong></td></tr>
<tr><td style="padding-right: 40px; width: 140px;">page</td><td>Minimum 1, maximum 1000.</td></tr>
<tr><td style="padding-right: 40px; width: 140px;">sort_by</td><td>Only 'created_at` is currently supported.</td></tr>
<tr><td style="padding-right: 40px; width: 140px;">sort_by</td><td>`created_at.desc` or `created_at.asc`</td></tr>
<tr><td style="padding-right: 40px; width: 140px;">language</td><td>ISO 639-1 code. Without one set, we default to the language set in the requested account.</td></tr>
</table>

GET /account/{id}/favorite/movies
> Accept: application/json
< 200
< Content-Type: application/json
< ETag: "2daa7f981185567083364f740f4dde6b"
{
    "page": 1,
    "results": [
        {
            "backdrop_path": "/wrKcSXtHz4LedgEf1aW5e4ZVyHJ.jpg",
            "id": 9806,
            "original_title": "The Incredibles",
            "release_date": "2004-11-05",
            "poster_path": "/9k4sgKD79q0MDHSWIqNnHqOfOEV.jpg",
            "title": "The Incredibles",
            "vote_average": 8.5999999999999996,
            "vote_count": 46
        },
        {
            "backdrop_path": "/uAVdwu4vEx0TwuC4ewp9RqplKEV.jpg",
            "id": 1452,
            "original_title": "Superman Returns",
            "release_date": "2006-06-21",
            "poster_path": "/qpsarVxFcxJxtCK5dAoHLt3365R.jpg",
            "title": "Superman Returns",
            "vote_average": 6.5999999999999996,
            "vote_count": 20
        },
        {
            "backdrop_path": "/x9a4Q6Qlgh9Fk1f5z6K4r5OeLd9.jpg",
            "id": 8960,
            "original_title": "Hancock",
            "release_date": "2008-07-02",
            "poster_path": "/dsCxSr4w3g2ylhlZg3v5CB5Pid7.jpg",
            "title": "Hancock",
            "vote_average": 7.0,
            "vote_count": 34
        },
        {
            "backdrop_path": "/oPE44KcuRBKfuE15RD8sC2awh3P.jpg",
            "id": 9741,
            "original_title": "Unbreakable",
            "release_date": "2000-11-14",
            "poster_path": "/ndb1jugavBmgcfZKrfHXxC0T6al.jpg",
            "title": "Unbreakable",
            "vote_average": 7.7999999999999998,
            "vote_count": 25
        },
        {
            "backdrop_path": "/7u3pxc0K1wx32IleAkLv78MKgrw.jpg",
            "id": 603,
            "original_title": "The Matrix",
            "release_date": "1999-03-31",
            "poster_path": "/gynBNzwyaHKtXqlEKKLioNkjKgN.jpg",
            "title": "The Matrix",
            "vote_average": 9.0999999999999996,
            "vote_count": 249
        },
        {
            "backdrop_path": "/af98P1bc7lJsFjhHOVWXQgNNgSQ.jpg",
            "id": 424,
            "original_title": "Schindler's List",
            "release_date": "1993-11-30",
            "poster_path": "/I2lJ7ens7Rzlm3x5HfDbwF3ykh.jpg",
            "title": "Schindler's List",
            "vote_average": 8.6999999999999993,
            "vote_count": 41
        },
        {
            "backdrop_path": "/6kVVfNT0auG6fU5SFQ1zbayNWUC.jpg",
            "id": 7191,
            "original_title": "Cloverfield",
            "release_date": "2008-01-16",
            "poster_path": "/as01o40tJ2FhtheqeXf7bVZ0EQO.jpg",
            "title": "Cloverfield",
            "vote_average": 7.2000000000000002,
            "vote_count": 35
        },
        {
            "backdrop_path": "/6yFoLNQgFdVbA8TZMdfgVpszOla.jpg",
            "id": 218,
            "original_title": "The Terminator",
            "release_date": "1984-10-26",
            "poster_path": "/q8ffBuxQlYOHrvPniLgCbmKK4Lv.jpg",
            "title": "The Terminator",
            "vote_average": 8.5999999999999996,
            "vote_count": 67
        },
        {
            "backdrop_path": "/8uO0gUM8aNqYLs1OsTBQiXu0fEv.jpg",
            "id": 550,
            "original_title": "Fight Club",
            "release_date": "1999-10-15",
            "poster_path": "/2lECpi35Hnbpa4y46JX0aY3AWTy.jpg",
            "title": "Fight Club",
            "vote_average": 9.0999999999999996,
            "vote_count": 175
        },
        {
            "backdrop_path": "/siKq2bQo09YGLTiqvKR1pXJ5li9.jpg",
            "id": 23483,
            "original_title": "Kick-Ass",
            "release_date": "2010-04-16",
            "poster_path": "/gtfggr5n3ED1neoTqVYmsVCoSS.jpg",
            "title": "Kick-Ass",
            "vote_average": 8.3000000000000007,
            "vote_count": 108
        },
        {
            "backdrop_path": "/419GfpzSip2cXf17x8FKIRHSSPK.jpg",
            "id": 679,
            "original_title": "Aliens",
            "release_date": "1986-07-18",
            "poster_path": "/qet8RDq99dRteBfSRfGeZeqY9xe.jpg",
            "title": "Aliens",
            "vote_average": 8.8000000000000007,
            "vote_count": 107
        },
        {
            "backdrop_path": "/sCtmAY3DgrFOjlrDh6mP7luUO7t.jpg",
            "id": 489,
            "original_title": "Good Will Hunting",
            "release_date": "1997-12-05",
            "poster_path": "/3yHtbRfp32AouPSwYESoJM3cOeQ.jpg",
            "title": "Good Will Hunting",
            "vote_average": 8.8000000000000007,
            "vote_count": 32
        },
        {
            "backdrop_path": "/5YF6MwuuKBRKLUE2dz3wetkgxAE.jpg",
            "id": 453,
            "original_title": "A Beautiful Mind",
            "release_date": "2001-12-13",
            "poster_path": "/79L8f0qbawvmdXE4ThVstC5sOxP.jpg",
            "title": "A Beautiful Mind",
            "vote_average": 8.5,
            "vote_count": 28
        },
        {
            "backdrop_path": "/bYtrTSGDqvd2KlHTO78b4Y3S4E9.jpg",
            "id": 807,
            "original_title": "Se7en",
            "release_date": "1995-09-22",
            "poster_path": "/zgB9CCTDlXRv50Z70ZI4elJtNEk.jpg",
            "title": "Se7en",
            "vote_average": 8.9000000000000004,
            "vote_count": 96
        },
        {
            "backdrop_path": "/6HbOqP1GUElNLdX8Bx2uP542CIP.jpg",
            "id": 180,
            "original_title": "Minority Report",
            "release_date": "2002-06-21",
            "poster_path": "/h3lpltSn7Rj1eYTPQO1lYGdw4Bz.jpg",
            "title": "Minority Report",
            "vote_average": 8.3000000000000007,
            "vote_count": 34
        },
        {
            "backdrop_path": "/i9A0UMFg1hI2kLyCCwnmSbpT2cd.jpg",
            "id": 73,
            "original_title": "American History X",
            "release_date": "1998-10-30",
            "poster_path": "/fXepRAYOx1qC3wju7XdDGx60775.jpg",
            "title": "American History X",
            "vote_average": 8.6999999999999993,
            "vote_count": 61
        },
        {
            "backdrop_path": "/5XPPB44RQGfkBrbJxmtdndKz05n.jpg",
            "id": 19995,
            "original_title": "Avatar",
            "release_date": "2009-12-18",
            "poster_path": "/s66l83fTQp0FAJsJqY0xUmkamcx.jpg",
            "title": "Avatar",
            "vote_average": 7.9000000000000004,
            "vote_count": 516
        },
        {
            "backdrop_path": "/e1uECwkwbD5Zpm9Gc6eb5mbG4C4.jpg",
            "id": 38,
            "original_title": "Eternal Sunshine of the Spotless Mind",
            "release_date": "2004-03-19",
            "poster_path": "/gutwXkVChJkpIrclokNESybj0GC.jpg",
            "title": "Eternal Sunshine of the Spotless Mind",
            "vote_average": 8.6999999999999993,
            "vote_count": 57
        },
        {
            "backdrop_path": "/tv8J6uCTKsTlASa8luJqrFiJlBX.jpg",
            "id": 78,
            "original_title": "Blade Runner",
            "release_date": "1982-06-25",
            "poster_path": "/ewq1lwhOT8GqBcQH1w8D1BagwTh.jpg",
            "title": "Blade Runner",
            "vote_average": 9.0,
            "vote_count": 147
        },
        {
            "backdrop_path": "/2nFyTvssbtJMLC6eyYwwZ88gALD.jpg",
            "id": 10681,
            "original_title": "WALL·E",
            "release_date": "2008-06-27",
            "poster_path": "/9cJETuLMc6R0bTWRA5i7ctY9bxk.jpg",
            "title": "WALL·E",
            "vote_average": 8.6999999999999993,
            "vote_count": 164
        }
    ],
    "total_pages": 2,
    "total_results": 34
}

Get the list of favorite TV series for an account.

<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td colspan="2"><strong>Required Parameters</strong></td></tr>
<tr><td colspan="2">api_key</td></tr>
<tr><td colspan="2">session_id</td></tr>
<tr><td colspan="2"><strong>Optional Parameters</strong></td></tr>
<tr><td style="padding-right: 40px; width: 140px;">page</td><td>Minimum 1, maximum 1000.</td></tr>
<tr><td style="padding-right: 40px; width: 140px;">sort_by</td><td>Only 'created_at` is currently supported.</td></tr>
<tr><td style="padding-right: 40px; width: 140px;">sort_by</td><td>`created_at.desc` or `created_at.asc`</td></tr>
<tr><td style="padding-right: 40px; width: 140px;">language</td><td>ISO 639-1 code. Without one set, we default to the language set in the requested account.</td></tr>
</table>

GET /account/{id}/favorite/tv
> Accept: application/json
< 200
< Content-Type: application/json
< ETag: "e802d6f19bdd56802327ebb1d47f1789"
{
  "page": 1,
  "results": [
    {
      "backdrop_path": "/4EFVV3ZsIRFGxvHJXGyTQLzThQK.jpg",
      "id": 46648,
      "original_name": "True Detective",
      "first_air_date": "2014-01-12",
      "poster_path": "/udKOK1kE3wJzpjrCfhmuMC6M7lC.jpg",
      "popularity": 1.26877805083058,
      "name": "True Detective",
      "vote_average": 9.8,
      "vote_count": 12
    },
    {
      "backdrop_path": "/5MGbVKfJO96fTHLKgAPjZIB9kgi.jpg",
      "id": 5639,
      "original_name": "Pushing Daisies",
      "first_air_date": "2007-10-03",
      "poster_path": "/aUV2ujhVT7cQHu4IlwnCBN9OQvN.jpg",
      "popularity": 0.41013242497006,
      "name": "Pushing Daisies",
      "vote_average": 9.0,
      "vote_count": 1
    },
    {
      "backdrop_path": "/8wxxyouV0QImpfNVyyp86ksOlCY.jpg",
      "id": 45,
      "original_name": "Top Gear",
      "first_air_date": "2002-10-20",
      "poster_path": "/dyIZi3PBN1nyLgx7VHUvvo1e1VG.jpg",
      "popularity": 1.90200135909042,
      "name": "Top Gear",
      "vote_average": 7.7,
      "vote_count": 5
    },
    {
      "backdrop_path": "/5CSqbAncWlzkPz2Qxvbu3vLJLqC.jpg",
      "id": 1427,
      "original_name": "Broadchurch",
      "first_air_date": "2013-03-04",
      "poster_path": "/yYg4z9XrjRbNROc2sVG4H2uq4Nl.jpg",
      "popularity": 0.417,
      "name": "Broadchurch",
      "vote_average": 9.0,
      "vote_count": 3
    },
    {
      "backdrop_path": "/3NFHfvdQhx7TP0JwQeVz2CruwaT.jpg",
      "id": 18202,
      "original_name": "Cougar Town",
      "first_air_date": "2009-09-23",
      "poster_path": "/3abzPQeu5RGK14dnYZJY5LGNQvQ.jpg",
      "popularity": 0.59198331,
      "name": "Cougar Town",
      "vote_average": 8.0,
      "vote_count": 2
    },
    {
      "backdrop_path": "/y6mTnYRk5BFTmgppVFYGjmNGBxG.jpg",
      "id": 8592,
      "original_name": "Parks and Recreation",
      "first_air_date": "2009-04-09",
      "poster_path": "/xt4FRS94639HNRf2IUCqdPRxNuD.jpg",
      "popularity": 0.972197579837567,
      "name": "Parks and Recreation",
      "vote_average": 7.8,
      "vote_count": 2
    },
    {
      "backdrop_path": "/giOapCfAphYifUmV9lfGoAJXPKo.jpg",
      "id": 2302,
      "original_name": "Huff",
      "first_air_date": "2004-11-07",
      "poster_path": "/yUUvwsDehZhI6BbghwpyRT51e6R.jpg",
      "popularity": 0.2,
      "name": "Huff",
      "vote_average": 8.0,
      "vote_count": 1
    },
    {
      "backdrop_path": "/eLiqATmcigKP8K2BhjLdELmEqsy.jpg",
      "id": 2316,
      "original_name": "The Office",
      "first_air_date": "2005-03-24",
      "poster_path": "/biU7kCVB5dQT5zTlSyqwg8cxzyL.jpg",
      "popularity": 3.02392009876581,
      "name": "The Office",
      "vote_average": 7.9,
      "vote_count": 8
    },
    {
      "backdrop_path": "/b6vgobTX9zI833OrwoN2gd880wf.jpg",
      "id": 4556,
      "original_name": "Scrubs",
      "first_air_date": "2001-10-02",
      "poster_path": "/jnoPEbDmNrttiEZRQ0ewSbCZ6oh.jpg",
      "popularity": 1.1361269821995,
      "name": "Scrubs",
      "vote_average": 8.2,
      "vote_count": 3
    },
    {
      "backdrop_path": "/qZsbe82zgPLUXPU3vQ3kfqC6Fmy.jpg",
      "id": 185,
      "original_name": "Carnivàle",
      "first_air_date": "2003-09-07",
      "poster_path": "/ur8kXMzoxc9XdUF3UW8AcXqEfhT.jpg",
      "popularity": 2.24562561259654,
      "name": "Carnivàle",
      "vote_average": 9.0,
      "vote_count": 1
    },
    {
      "backdrop_path": "/aUDXk7DNvbmsqPrJnLnG6MVi9Bv.jpg",
      "id": 1432,
      "original_name": "Veronica Mars",
      "first_air_date": "2004-09-22",
      "poster_path": "/ewG884trMtmm8FrEAxOKVQDd8cD.jpg",
      "popularity": 1.77021010065962,
      "name": "Veronica Mars",
      "vote_average": 8.9,
      "vote_count": 5
    },
    {
      "backdrop_path": "/92ZhAYYce2KfuLgBswzW5HCMKxr.jpg",
      "id": 1425,
      "original_name": "House of Cards",
      "first_air_date": "2013-01-31",
      "poster_path": "/u1MZH02xknaNZp54tyM66afeeKA.jpg",
      "popularity": 1.16861651665156,
      "name": "House of Cards",
      "vote_average": 9.4,
      "vote_count": 8
    },
    {
      "backdrop_path": "/2IslvhtVT8QIbMaTBKfFyinaQR.jpg",
      "id": 1407,
      "original_name": "Homeland",
      "first_air_date": "2011-10-02",
      "poster_path": "/iQXxNET0AY07ulvZyhrrKlhAjXI.jpg",
      "popularity": 0.463679951115582,
      "name": "Homeland",
      "vote_average": 8.1,
      "vote_count": 8
    },
    {
      "backdrop_path": "/nJ5IqCgofd8JjzgS47w2BqVSskI.jpg",
      "id": 34356,
      "original_name": "Tron: Uprising",
      "first_air_date": "2012-05-18",
      "poster_path": "/jjRKi3Ym5CrZzKbPEDswLa89R6F.jpg",
      "popularity": 0.42551056937,
      "name": "Tron: Uprising",
      "vote_average": 9.0,
      "vote_count": 1
    },
    {
      "backdrop_path": "/tvcfvV1LrI0pooEP79BetX8Cscd.jpg",
      "id": 37680,
      "original_name": "Suits",
      "first_air_date": "2011-06-23",
      "poster_path": "/9mRRbi2akSRqtwJx6EyCfo3gaky.jpg",
      "popularity": 0.840117261105396,
      "name": "Suits",
      "vote_average": 8.2,
      "vote_count": 5
    },
    {
      "backdrop_path": "/fPXruJVwikatP3FHsKtF6FkJkqw.jpg",
      "id": 1274,
      "original_name": "Six Feet Under",
      "first_air_date": "2001-06-03",
      "poster_path": "/dX8FW45Vf6U7wDgC1xPSR3I6h5D.jpg",
      "popularity": 4.07304950072839,
      "name": "Six Feet Under",
      "vote_average": 8.6,
      "vote_count": 6
    },
    {
      "backdrop_path": "/2mumk8ef26SWwpNNh0d6aPkPVth.jpg",
      "id": 1423,
      "original_name": "Ray Donovan",
      "first_air_date": "2013-06-30",
      "poster_path": "/ea1ynSNCEKuFlZY2C195CbDSis5.jpg",
      "popularity": 0.374,
      "name": "Ray Donovan",
      "vote_average": 8.0,
      "vote_count": 1
    },
    {
      "backdrop_path": "/2a6yRUuHv1DLFP31e0IKzHL1qhV.jpg",
      "id": 1419,
      "original_name": "Castle",
      "first_air_date": "2009-03-08",
      "poster_path": "/zBPHFtJ1Vl0yhQEgTdxIswcGzzV.jpg",
      "popularity": 2.86763453706342,
      "name": "Castle",
      "vote_average": 9.0,
      "vote_count": 17
    },
    {
      "backdrop_path": "/owlVhh6PhMcCbVWeQznVdLAKRLy.jpg",
      "id": 49010,
      "original_name": "The Fall",
      "first_air_date": "2013-05-13",
      "poster_path": "/8jqMTpdbHpPAViibEgzPfvHKZP8.jpg",
      "popularity": 0.4,
      "name": "The Fall",
      "vote_average": 9.0,
      "vote_count": 2
    },
    {
      "backdrop_path": "/fw0SJJuBzQJKbxSPaIbwm3SzCzo.jpg",
      "id": 46619,
      "original_name": "Rectify",
      "first_air_date": "2013-04-22",
      "poster_path": "/pgNhMwj3ggL3Ilci6Vmm0dIKTu3.jpg",
      "popularity": 0.26,
      "name": "Rectify",
      "vote_average": 9.0,
      "vote_count": 1
    }
  ],
  "total_pages": 3,
  "total_results": 46
}

Add or remove a movie to an accounts favorite list.

<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td style="padding-left: 0;" colspan="2"><strong>Required Parameters</strong></td></tr>
<tr><td style="padding-left: 0;" colspan="2">api_key</td></tr>
<tr><td style="padding-left: 0;" colspan="2">session_id</td></tr>
<tr><td style="padding-left: 0;" colspan="2"><strong>Required JSON Body</strong></td></tr>
<tr><td style="padding-left: 0; padding-right: 40px; width: 140px;">media_type</td><td>movie | tv</td></tr>
<tr><td style="padding-left: 0; padding-right: 40px; width: 140px;">media_id</td><td>Integer</td></tr>
<tr><td style="padding-left: 0; padding-right: 40px; width: 140px;">favorite</td><td>true | false</td></tr>
</table>

POST /account/{id}/favorite
> Accept: application/json
> Content-Type: application/json
{
    "media_type": "movie",
    "media_id": 550,
    "favorite": true
}
< 200
< Content-Type: application/json
{
    "status_code": 12,
    "status_message": "The item/record was updated successfully"
}

Get the list of rated movies (and associated rating) for an account.

<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td colspan="2"><strong>Required Parameters</strong></td></tr>
<tr><td colspan="2">api_key</td></tr>
<tr><td colspan="2">session_id</td></tr>
<tr><td colspan="2"><strong>Optional Parameters</strong></td></tr>
<tr><td style="padding-right: 40px; width: 140px;">page</td><td>Minimum 1, maximum 1000.</td></tr>
<tr><td style="padding-right: 40px; width: 140px;">sort_by</td><td>`created_at.desc` or `created_at.asc`</td></tr>
<tr><td style="padding-right: 40px; width: 140px;">language</td><td>ISO 639-1 code. Without one set, we default to the language set in the requested account.</td></tr>
</table>

GET /account/{id}/rated/movies
> Accept: application/json
< 200
< Content-Type: application/json
{
    "page": 1,
    "results": [
        {
            "backdrop_path": "/tjMZ4RBLhvk670gYJPxIN8SBfnB.jpg",
            "id": 13,
            "original_title": "Forrest Gump",
            "release_date": "1994-06-23",
            "poster_path": "/iZvCkb34CAmV9BETIrHY4yiS115.jpg",
            "rating": 8.0,
            "title": "Forrest Gump",
            "vote_average": 8.9000000000000004,
            "vote_count": 84
        },
        {
            "backdrop_path": "/e1uECwkwbD5Zpm9Gc6eb5mbG4C4.jpg",
            "id": 38,
            "original_title": "Eternal Sunshine of the Spotless Mind",
            "release_date": "2004-03-19",
            "poster_path": "/gutwXkVChJkpIrclokNESybj0GC.jpg",
            "rating": 9.0,
            "title": "Eternal Sunshine of the Spotless Mind",
            "vote_average": 8.6999999999999993,
            "vote_count": 57
        },
        {
            "backdrop_path": "/gTFGr8q5YzYYiRyDYaEMNB6QRuL.jpg",
            "id": 106,
            "original_title": "Predator",
            "release_date": "1987-06-12",
            "poster_path": "/gUpto7r2XwoM5eW7MUvd8hl1etB.jpg",
            "rating": 6.0,
            "title": "Predator",
            "vote_average": 8.4000000000000004,
            "vote_count": 49
        },
        {
            "backdrop_path": "/cNLZ7YGRikb4IsLblrzu86ndZPw.jpg",
            "id": 107,
            "original_title": "Snatch",
            "release_date": "2000-12-06",
            "poster_path": "/on9JlbGEccLsYkjeEph2Whm1DIp.jpg",
            "rating": 8.0,
            "title": "Snatch",
            "vote_average": 8.5999999999999996,
            "vote_count": 55
        },
        {
            "backdrop_path": "/pIUvQ9Ed35wlWhY2oU6OmwEsmzG.jpg",
            "id": 120,
            "original_title": "The Lord of the Rings: The Fellowship of the Ring",
            "release_date": "2001-12-19",
            "poster_path": "/9HG6pINW1KoFTAKY3LdybkoOKAm.jpg",
            "rating": 8.0,
            "title": "The Lord of the Rings: The Fellowship of the Ring",
            "vote_average": 8.8000000000000007,
            "vote_count": 125
        },
        {
            "backdrop_path": "/nnMC0BM6XbjIIrT4miYmMtPGcQV.jpg",
            "id": 155,
            "original_title": "The Dark Knight",
            "release_date": "2008-07-18",
            "poster_path": "/1hRoyzDtpgMU7Dz4JF22RANzQO7.jpg",
            "rating": 9.0,
            "title": "The Dark Knight",
            "vote_average": 8.8000000000000007,
            "vote_count": 269
        },
        {
            "backdrop_path": "/uv5BRIaJKfcPBPEBV8qfTjD6PuY.jpg",
            "id": 12,
            "original_title": "Finding Nemo",
            "release_date": "2003-05-30",
            "poster_path": "/zjqInUwldOBa0q07fOyohYCWxWX.jpg",
            "rating": 8.0,
            "title": "Finding Nemo",
            "vote_average": 8.6999999999999993,
            "vote_count": 41
        },
        {
            "backdrop_path": "/kriCxQiDhdosxzYXEf5JApMdmyq.jpg",
            "id": 187,
            "original_title": "Sin City",
            "release_date": "2005-04-01",
            "poster_path": "/eCJkepVJslq1nEtqURLaC1zLPAL.jpg",
            "rating": 8.0,
            "title": "Sin City",
            "vote_average": 8.4000000000000004,
            "vote_count": 64
        },
        {
            "backdrop_path": "/6xKCYgH16UuwEGAyroLU6p8HLIn.jpg",
            "id": 238,
            "original_title": "The Godfather",
            "release_date": "1972-03-24",
            "poster_path": "/d4KNaTrltq6bpkFS01pYtyXa09m.jpg",
            "rating": 9.0,
            "title": "The Godfather",
            "vote_average": 9.1999999999999993,
            "vote_count": 125
        },
        {
            "backdrop_path": "/iX99sWgGZCnjPpDgG29E0HomMLI.jpg",
            "id": 275,
            "original_title": "Fargo",
            "release_date": "1996-03-15",
            "poster_path": "/gO0Q7TMuu8PJ9Y736VTgvY02rVD.jpg",
            "rating": 8.0,
            "title": "Fargo",
            "vote_average": 8.1999999999999993,
            "vote_count": 29
        },
        {
            "backdrop_path": "/d9AqtruwS8nljKjL5aYzM42hQJr.jpg",
            "id": 280,
            "original_title": "Terminator 2: Judgment Day",
            "release_date": "1991-07-01",
            "poster_path": "/2y4dmgWYRMYXdD1UyJVcn2HSd1D.jpg",
            "rating": 8.0,
            "title": "Terminator 2: Judgment Day",
            "vote_average": 9.0999999999999996,
            "vote_count": 106
        },
        {
            "backdrop_path": "/xRqsFFteJrvLHxswk78NzU7zOrU.jpg",
            "id": 289,
            "original_title": "Casablanca",
            "release_date": "1942-11-26",
            "poster_path": "/sm1QVZu5RKe1vXVHZooo4SZyHMx.jpg",
            "rating": 8.0,
            "title": "Casablanca",
            "vote_average": 8.5,
            "vote_count": 27
        },
        {
            "backdrop_path": "/heNbD1JojBNz6kfHWr3O8Uk0a3a.jpg",
            "id": 296,
            "original_title": "Terminator 3: Rise of the Machines",
            "release_date": "2003-06-30",
            "poster_path": "/lz4xYdF1n09lyiCfZWtWT44SZiG.jpg",
            "rating": 7.0,
            "title": "Terminator 3: Rise of the Machines",
            "vote_average": 6.7000000000000002,
            "vote_count": 44
        },
        {
            "backdrop_path": "/wH8vtnsmU4olFJ5wSRHo8RXRhKF.jpg",
            "id": 310,
            "original_title": "Bruce Almighty",
            "release_date": "2003-05-23",
            "poster_path": "/oHA5eAeJh7ChPsHnSsppNx4ta6L.jpg",
            "rating": 8.0,
            "title": "Bruce Almighty",
            "vote_average": 7.7000000000000002,
            "vote_count": 25
        },
        {
            "backdrop_path": "/tUGSLoMcxNWZ0OIRSqDaB2jNbdE.jpg",
            "id": 503,
            "original_title": "Poseidon",
            "release_date": "2006-05-12",
            "poster_path": "/kHrdehzlhyyb190D3RvH8mdX1y2.jpg",
            "rating": 6.0,
            "title": "Poseidon",
            "vote_average": 6.2000000000000002,
            "vote_count": 9
        },
        {
            "backdrop_path": "/tBCOpjphzSLzC6oOjqzTEg6bJ7q.jpg",
            "id": 534,
            "original_title": "Terminator Salvation",
            "release_date": "2009-05-21",
            "poster_path": "/hxDfhavtxA2Ayx7O9BsQMcZRdG0.jpg",
            "rating": 6.0,
            "title": "Terminator Salvation",
            "vote_average": 7.0,
            "vote_count": 57
        },
        {
            "backdrop_path": "/6TlMTnjtBcXFq7rSCcdQoBjTNPd.jpg",
            "id": 571,
            "original_title": "The Birds",
            "release_date": "1963-03-28",
            "poster_path": "/8tGRhGAbIZE97bnUAWrYSdqq71t.jpg",
            "rating": 6.0,
            "title": "The Birds",
            "vote_average": 8.0999999999999996,
            "vote_count": 6
        },
        {
            "backdrop_path": "/7u3pxc0K1wx32IleAkLv78MKgrw.jpg",
            "id": 603,
            "original_title": "The Matrix",
            "release_date": "1999-03-31",
            "poster_path": "/gynBNzwyaHKtXqlEKKLioNkjKgN.jpg",
            "rating": 9.0,
            "title": "The Matrix",
            "vote_average": 9.0999999999999996,
            "vote_count": 249
        },
        {
            "backdrop_path": "/jB9nQa6zJIZQ0htH5827Og7Mfsw.jpg",
            "id": 615,
            "original_title": "The Passion of the Christ",
            "release_date": "2004-02-25",
            "poster_path": "/6KyvP5bDmwTYdLLnhEn10NFPDIZ.jpg",
            "rating": 6.0,
            "title": "The Passion of the Christ",
            "vote_average": 7.5,
            "vote_count": 15
        },
        {
            "backdrop_path": "/nO0GtGFQmEuuOyAQVpHjJlWBU8O.jpg",
            "id": 616,
            "original_title": "The Last Samurai",
            "release_date": "2003-12-05",
            "poster_path": "/cRz4FRx731ulws6zHuQVaDXpx73.jpg",
            "rating": 8.0,
            "title": "The Last Samurai",
            "vote_average": 8.0999999999999996,
            "vote_count": 26
        }
    ],
    "total_pages": 12,
    "total_results": 239
}

Get the list of rated TV shows (and associated rating) for an account.

<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td colspan="2"><strong>Required Parameters</strong></td></tr>
<tr><td colspan="2">api_key</td></tr>
<tr><td colspan="2">session_id</td></tr>
<tr><td colspan="2"><strong>Optional Parameters</strong></td></tr>
<tr><td style="padding-right: 40px; width: 140px;">page</td><td>Minimum 1, maximum 1000.</td></tr>
<tr><td style="padding-right: 40px; width: 140px;">sort_by</td><td>`created_at.desc` or `created_at.asc`</td></tr>
<tr><td style="padding-right: 40px; width: 140px;">language</td><td>ISO 639-1 code. Without one set, we default to the language set in the requested account.</td></tr>
</table>

GET /account/{id}/rated/tv
> Accept: application/json
< 200
< Content-Type: application/json
< ETag: "d3a69fdeee228ff6582e6d1d7c7073ee"
{
  "page": 1,
  "results": [
    {
      "backdrop_path": "/k9NJwzO23UXmLZXoOqCbX7HhK7I.jpg",
      "id": 314,
      "original_name": "Star Trek: Enterprise",
      "first_air_date": "2001-09-26",
      "poster_path": "/9mRz3v97QMeU4I25ol8PxWx6tuG.jpg",
      "popularity": 0.95492325,
      "name": "Star Trek: Enterprise",
      "vote_average": 8.3,
      "vote_count": 4,
      "rating": 8.0
    },
    {
      "backdrop_path": "/qmG25kFDFbIdgSYIx1DF56HnMWp.jpg",
      "id": 39702,
      "original_name": "House of Lies",
      "first_air_date": "2012-01-08",
      "poster_path": "/6LnAp1mgtAiC3I1MzadoioQ9MkT.jpg",
      "popularity": 0.9665625,
      "name": "House of Lies",
      "vote_average": 8.0,
      "vote_count": 2,
      "rating": 8.0
    },
    {
      "backdrop_path": "/wdzp88gmAahtpnhREGHDHPdhcaX.jpg",
      "id": 433,
      "original_name": "Terminator: The Sarah Connor Chronicles",
      "first_air_date": "2008-01-13",
      "poster_path": "/1RygHDzvSEGYGYlEbOfYVp9T5Ck.jpg",
      "popularity": 0.32,
      "name": "Terminator: The Sarah Connor Chronicles",
      "vote_average": 8.8,
      "vote_count": 4,
      "rating": 8.0
    },
    {
      "backdrop_path": "/k5DRaUXp0ilvCzxE4pI39csaXX6.jpg",
      "id": 58811,
      "original_name": "Helix",
      "first_air_date": "2014-01-10",
      "poster_path": "/iCOv74CPbPWbO2KWgPVZrLOALff.jpg",
      "popularity": 0.651766,
      "name": "Helix",
      "vote_average": 8.8,
      "vote_count": 4,
      "rating": 9.0
    },
    {
      "backdrop_path": "/8i29MFIH2bYaqk0Ui1b2VRNTflg.jpg",
      "id": 2947,
      "original_name": "Veep",
      "first_air_date": "2012-04-22",
      "poster_path": "/nbdrg0x8jITHsMYxDiitcycQtXE.jpg",
      "popularity": 0.2,
      "name": "Veep",
      "vote_average": 9.0,
      "vote_count": 2,
      "rating": 8.0
    },
    {
      "backdrop_path": "/jHADNR5qfQGqRCa5VusuCz0tBQa.jpg",
      "id": 1982,
      "original_name": "Wonderfalls",
      "first_air_date": "2004-03-12",
      "poster_path": "/jkDQLlhX315zoeP7LRW6QEsduyx.jpg",
      "popularity": 0.50709,
      "name": "Wonderfalls",
      "vote_average": 7.5,
      "vote_count": 1,
      "rating": 7.5
    },
    {
      "backdrop_path": "/5MGbVKfJO96fTHLKgAPjZIB9kgi.jpg",
      "id": 5639,
      "original_name": "Pushing Daisies",
      "first_air_date": "2007-10-03",
      "poster_path": "/aUV2ujhVT7cQHu4IlwnCBN9OQvN.jpg",
      "popularity": 0.700441416566866,
      "name": "Pushing Daisies",
      "vote_average": 9.0,
      "vote_count": 1,
      "rating": 9.0
    },
    {
      "backdrop_path": "/4EFVV3ZsIRFGxvHJXGyTQLzThQK.jpg",
      "id": 46648,
      "original_name": "True Detective",
      "first_air_date": "2014-01-12",
      "poster_path": "/udKOK1kE3wJzpjrCfhmuMC6M7lC.jpg",
      "popularity": 2.69592683610194,
      "name": "True Detective",
      "vote_average": 9.8,
      "vote_count": 12,
      "rating": 9.5
    },
    {
      "backdrop_path": "/8wxxyouV0QImpfNVyyp86ksOlCY.jpg",
      "id": 45,
      "original_name": "Top Gear",
      "first_air_date": "2002-10-20",
      "poster_path": "/dyIZi3PBN1nyLgx7VHUvvo1e1VG.jpg",
      "popularity": 3.00667119696808,
      "name": "Top Gear",
      "vote_average": 7.7,
      "vote_count": 5,
      "rating": 9.0
    },
    {
      "backdrop_path": "/iQGyDmBgf8vERxltyHWwvR0ITq9.jpg",
      "id": 16997,
      "original_name": "The Pacific",
      "first_air_date": null,
      "poster_path": "/eitGOLIzvddgR4ZGx5GkAtX38h1.jpg",
      "popularity": 0.745294531189417,
      "name": "The Pacific",
      "vote_average": 8.5,
      "vote_count": 4,
      "rating": 9.0
    },
    {
      "backdrop_path": "/tvGPmIdP9DX778L2phz9eahNMLp.jpg",
      "id": 1420,
      "original_name": "New Girl",
      "first_air_date": "2011-09-20",
      "poster_path": "/iirKvUv5IFBFnJx9Rhhza95Gn22.jpg",
      "popularity": 0.917542068827423,
      "name": "New Girl",
      "vote_average": 6.5,
      "vote_count": 3,
      "rating": 7.0
    },
    {
      "backdrop_path": "/qj9QHowNKCxVbFTkIW1wJFfmK89.jpg",
      "id": 21494,
      "original_name": "V",
      "first_air_date": "2009-11-03",
      "poster_path": "/82oR6bSnODCK21SnDxSCVhcVQD2.jpg",
      "popularity": 0.63615856067133,
      "name": "V",
      "vote_average": 8.0,
      "vote_count": 2,
      "rating": 6.0
    },
    {
      "backdrop_path": "/gnWKBJlHSO43TLRiykeTCgOEcGn.jpg",
      "id": 44652,
      "original_name": "Last Resort",
      "first_air_date": "2012-09-27",
      "poster_path": "/qzzEV2fcjydHXg5CTrrv1DsDsZJ.jpg",
      "popularity": 0.2,
      "name": "Last Resort",
      "vote_average": 6.5,
      "vote_count": 1,
      "rating": 6.5
    },
    {
      "backdrop_path": "/l4ZYWRwSwJsTWQhNshYFpszqVs2.jpg",
      "id": 51019,
      "original_name": "Almost Human",
      "first_air_date": "2013-11-17",
      "poster_path": "/3DTKOuqa2RlwyhOWB31uBhmeLhC.jpg",
      "popularity": 0.541946163447557,
      "name": "Almost Human",
      "vote_average": 8.3,
      "vote_count": 6,
      "rating": 7.0
    },
    {
      "backdrop_path": "/eGeWSLpbgo5fEVhJonvbw3o2Xdt.jpg",
      "id": 1424,
      "original_name": "Orange Is the New Black",
      "first_air_date": "2013-07-11",
      "poster_path": "/5AuJ6FKL33fGCSiXa633xaHLV25.jpg",
      "popularity": 0.556,
      "name": "Orange Is the New Black",
      "vote_average": 8.3,
      "vote_count": 5,
      "rating": 7.5
    },
    {
      "backdrop_path": "/2Fg9H4TBJlXoZzZ4ixnAg0YV9xS.jpg",
      "id": 47141,
      "original_name": "The Bridge",
      "first_air_date": "2013-07-10",
      "poster_path": "/zBHarUl03wPbJsPOMCiKqtgsjmQ.jpg",
      "popularity": 0.50666655439,
      "name": "The Bridge",
      "vote_average": 8.3,
      "vote_count": 2,
      "rating": 8.0
    },
    {
      "backdrop_path": "/jUPkQdETILcxIW2xSNEzAxUeHgR.jpg",
      "id": 1972,
      "original_name": "Battlestar Galactica",
      "first_air_date": "2005-01-14",
      "poster_path": "/vaTO4vDEI2TU9XIoDPsPgrxbGWr.jpg",
      "popularity": 1.8217945312118,
      "name": "Battlestar Galactica",
      "vote_average": 8.9,
      "vote_count": 13,
      "rating": 9.0
    },
    {
      "backdrop_path": "/rwvHGXT5KWafoSKCCB0jLwWm66Z.jpg",
      "id": 95,
      "original_name": "Buffy the Vampire Slayer",
      "first_air_date": "1997-03-10",
      "poster_path": "/plRYSuq4fkPojnkaWUXBbHAZi1i.jpg",
      "popularity": 2.83369933148195,
      "name": "Buffy the Vampire Slayer",
      "vote_average": 9.2,
      "vote_count": 5,
      "rating": 7.5
    },
    {
      "backdrop_path": "/2ahKY0C9jQgBtNyMAtqcYFGUmVu.jpg",
      "id": 1426,
      "original_name": "Luther",
      "first_air_date": "2010-05-04",
      "poster_path": "/iRYkDSxCi3I71EW4eKP1jzPKhPN.jpg",
      "popularity": 0.2,
      "name": "Luther",
      "vote_average": 7.6,
      "vote_count": 4,
      "rating": 9.0
    },
    {
      "backdrop_path": "/mRApMhtHABq8t4IboWI3RvepWWN.jpg",
      "id": 41727,
      "original_name": "Banshee",
      "first_air_date": "2013-01-11",
      "poster_path": "/kQ26o4lj2WBfG8zD8xBLsd84GBa.jpg",
      "popularity": 0.875356985613961,
      "name": "Banshee",
      "vote_average": 9.0,
      "vote_count": 7,
      "rating": 9.0
    }
  ],
  "total_pages": 5,
  "total_results": 96
}

Get the list of rated tv episodes (and associated rating) for an account.

<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td colspan="2"><strong>Required Parameters</strong></td></tr>
<tr><td colspan="2">api_key</td></tr>
<tr><td colspan="2">session_id</td></tr>
<tr><td colspan="2"><strong>Optional Parameters</strong></td></tr>
<tr><td style="padding-right: 40px; width: 140px;">page</td><td>Minimum 1, maximum 1000.</td></tr>
<tr><td style="padding-right: 40px; width: 140px;">sort_by</td><td>`created_at.desc` or `created_at.asc`</td></tr>
<tr><td style="padding-right: 40px; width: 140px;">language</td><td>ISO 639-1 code. Without one set, we default to the language set in the requested account.</td></tr>
</table>

GET /account/{id}/rated/tv/episodes
> Accept: application/json
< 200
< Content-Type: application/json
{
  "page": 1,
  "results": [
    {
      "air_date": "2013-10-15",
      "episode_number": 5,
      "name": "The Workplace Proximity",
      "id": 64782,
      "season_number": 7,
      "still_path": "/7kueaQBaPIEo4WFvp4WuwdUSRJo.jpg",
      "show_id": 1418,
      "vote_average": 8.5,
      "vote_count": 2,
      "rating": 8.0
    },
    {
      "air_date": "2013-12-08",
      "episode_number": 11,
      "name": "Big Man in Tehran",
      "id": 968782,
      "season_number": 3,
      "still_path": "/o4QulasZwHOhzoxk7yER2mt6jXp.jpg",
      "show_id": 1407,
      "vote_average": 9.0,
      "vote_count": 2,
      "rating": 9.0
    },
    {
      "air_date": "2014-03-23",
      "episode_number": 15,
      "name": "Dramatics, Your Honor",
      "id": 973273,
      "season_number": 5,
      "still_path": "/eGQg94nfM6EhKrxGA8A92SXe3WT.jpg",
      "show_id": 1435,
      "vote_average": 9.0,
      "vote_count": 1,
      "rating": 9.0
    },
    {
      "air_date": "2014-05-11",
      "episode_number": 6,
      "name": "The Laws of Gods and Men",
      "id": 63099,
      "season_number": 4,
      "still_path": "/vKt9b7HNYhwM91C7S53zPsAWfT3.jpg",
      "show_id": 1399,
      "vote_average": 9.5,
      "vote_count": 3,
      "rating": 8.5
    },
    {
      "air_date": "2014-05-18",
      "episode_number": 7,
      "name": "Mockingbird",
      "id": 63100,
      "season_number": 4,
      "still_path": "/r7u0uELPyDkNnBZzAFVvw1XJKo5.jpg",
      "show_id": 1399,
      "vote_average": 8.25,
      "vote_count": 2,
      "rating": 8.5
    },
    {
      "air_date": "2014-05-16",
      "episode_number": 12,
      "name": "Tome-wan",
      "id": 975339,
      "season_number": 2,
      "still_path": "/pYsO5cXmjJGYUZWVDocBI3CIM6.jpg",
      "show_id": 40008,
      "vote_average": 9.0,
      "vote_count": 1,
      "rating": 9.0
    },
    {
      "air_date": "2014-05-23",
      "episode_number": 13,
      "name": "Mizumono",
      "id": 976285,
      "season_number": 2,
      "still_path": "/40jqX3XRk6W97gscX5rj4kTy411.jpg",
      "show_id": 40008,
      "vote_average": 10.0,
      "vote_count": 2,
      "rating": 10.0
    },
    {
      "air_date": "2014-06-01",
      "episode_number": 8,
      "name": "The Mountain and the Viper",
      "id": 63101,
      "season_number": 4,
      "still_path": "/2bsd1Dolxh04UwwkFG4tt4L406S.jpg",
      "show_id": 1399,
      "vote_average": 9.75,
      "vote_count": 2,
      "rating": 9.5
    },
    {
      "air_date": "2013-09-29",
      "episode_number": 16,
      "name": "Felina",
      "id": 62161,
      "season_number": 5,
      "still_path": "/pZOEpN1obWkEMUqQZ3GCZhfV87J.jpg",
      "show_id": 1396,
      "vote_average": 9.75,
      "vote_count": 4,
      "rating": 9.0
    },
    {
      "air_date": "2014-07-13",
      "episode_number": 1,
      "name": "Night Zero",
      "id": 989249,
      "season_number": 1,
      "still_path": "/nRFLYU10Px3IzSjdOmTvTrR86jI.jpg",
      "show_id": 47640,
      "vote_average": 7.5,
      "vote_count": 1,
      "rating": 7.5
    },
    {
      "air_date": "2014-06-19",
      "episode_number": 1,
      "name": "Running with the Bull",
      "id": 976915,
      "season_number": 2,
      "still_path": "/2FJAQU1PKbMIYe7WCkZJlFgqgAc.jpg",
      "show_id": 46619,
      "vote_average": 9.5,
      "vote_count": 2,
      "rating": 9.0
    },
    {
      "air_date": "2014-08-24",
      "episode_number": 9,
      "name": "The Garveys at Their Best",
      "id": 990362,
      "season_number": 1,
      "still_path": "/gGLWdy0ac2OryUwfGd3y0TiHTpD.jpg",
      "show_id": 54344,
      "vote_average": 9.0,
      "vote_count": 1,
      "rating": 9.0
    }
  ],
  "total_pages": 1,
  "total_results": 12
}

Get the list of movies on an accounts watchlist.

<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td colspan="2"><strong>Required Parameters</strong></td></tr>
<tr><td colspan="2">api_key</td></tr>
<tr><td colspan="2">session_id</td></tr>
<tr><td colspan="2"><strong>Optional Parameters</strong></td></tr>
<tr><td style="padding-right: 40px; width: 140px;">page</td><td>Minimum 1, maximum 1000.</td></tr>
<tr><td style="padding-right: 40px; width: 140px;">sort_by</td><td>`created_at.desc` or `created_at.asc`</td></tr>
<tr><td style="padding-right: 40px; width: 140px;">language</td><td>ISO 639-1 code. Without one set, we default to the language set in the requested account.</td></tr>
</table>

GET /account/{id}/watchlist/movies
> Accept: application/json
< 200
< Content-Type: application/json
{
    "page": 1,
    "results": [
        {
            "backdrop_path": "/xetk5vdoKxMIto5O5boqPGxWnoA.jpg",
            "id": 76726,
            "original_title": "Chronicle",
            "release_date": "2012-02-03",
            "poster_path": "/pSYRHYvOd8aFaddVUdyXJGZ8F6W.jpg",
            "title": "Chronicle",
            "vote_average": 7.2999999999999998,
            "vote_count": 32
        },
        {
            "backdrop_path": "/g9CDUXFBflsIch95wZxeNajTTX2.jpg",
            "id": 70435,
            "original_title": "Haywire",
            "release_date": "2011-11-07",
            "poster_path": "/8RlFYPPDFPr3ADrNHFGyB0JS6mo.jpg",
            "title": "Haywire",
            "vote_average": 6.9000000000000004,
            "vote_count": 18
        },
        {
            "backdrop_path": "/hbn46fQaRmlpBuUrEiFqv0GDL6Y.jpg",
            "id": 24428,
            "original_title": "The Avengers",
            "release_date": "2012-05-04",
            "poster_path": "/cezWGskPY5x7GaglTTRN4Fugfb8.jpg",
            "title": "The Avengers",
            "vote_average": 8.5,
            "vote_count": 117
        },
        {
            "backdrop_path": "/5Jj4SpbsxmH2yOlhka4LvNRtSud.jpg",
            "id": 22970,
            "original_title": "The Cabin in the Woods",
            "release_date": "2012-04-13",
            "poster_path": "/t8cW3FSCDYCaWRiNHSvI6SDuWeA.jpg",
            "title": "The Cabin in the Woods",
            "vote_average": 6.9000000000000004,
            "vote_count": 22
        },
        {
            "backdrop_path": "/8iNsXY3LPsuT0gnUiTBMoNuRZI7.jpg",
            "id": 52520,
            "original_title": "Underworld: Awakening",
            "release_date": "2012-01-20",
            "poster_path": "/76GXWKs2IDi0ZERKLT57wkToV0A.jpg",
            "title": "Underworld: Awakening",
            "vote_average": 7.5,
            "vote_count": 36
        },
        {
            "backdrop_path": "/gVfnoiCJBdv2SN7poIbU7eyNVq1.jpg",
            "id": 12437,
            "original_title": "Underworld: Rise of the Lycans",
            "release_date": "2009-01-23",
            "poster_path": "/hZtK6fkusSKzGc0f7yQ2syo14Ze.jpg",
            "title": "Underworld: Rise of the Lycans",
            "vote_average": 7.2999999999999998,
            "vote_count": 30
        },
        {
            "backdrop_path": "/LvmmDZxkTDqp0DX7mUo621ahdX.jpg",
            "id": 10195,
            "original_title": "Thor",
            "release_date": "2011-05-06",
            "poster_path": "/jqcMUV73jEhO0gv5yi28FD8JbHQ.jpg",
            "title": "Thor",
            "vote_average": 7.2000000000000002,
            "vote_count": 79
        },
        {
            "backdrop_path": "/1ueWzFe8Klk5WDurB5j8yl5qdaq.jpg",
            "id": 1771,
            "original_title": "Captain America: The First Avenger",
            "release_date": "2011-07-22",
            "poster_path": "/sBZs1jSybBRBXDwcCR8IOyHLUMc.jpg",
            "title": "Captain America: The First Avenger",
            "vote_average": 7.5,
            "vote_count": 73
        },
        {
            "backdrop_path": "/uOpFdld7CIifSEoGuRVgWqaeyFs.jpg",
            "id": 64688,
            "original_title": "21 Jump Street",
            "release_date": "2012-05-10",
            "poster_path": "/mH6xazzfGdszadd1Xy9JgdZYvn1.jpg",
            "title": "21 Jump Street",
            "vote_average": 7.5,
            "vote_count": 25
        },
        {
            "backdrop_path": "/9mnDfS7nuja6wCGK5bBG3412Qdo.jpg",
            "id": 17578,
            "original_title": "The Adventures of Tintin",
            "release_date": "2011-10-26",
            "poster_path": "/7NwqKqEqJDmFP8hkLBpV0Sk6xek.jpg",
            "title": "The Adventures of Tintin",
            "vote_average": 7.7000000000000002,
            "vote_count": 47
        },
        {
            "backdrop_path": "/wX0mOAa91dTAT2WCGRvvpWUKAeD.jpg",
            "id": 59961,
            "original_title": "Safe House",
            "release_date": "2012-02-16",
            "poster_path": "/itJBQuozyehzoTh0X4YpKwIiFLy.jpg",
            "title": "Safe House",
            "vote_average": 7.5999999999999996,
            "vote_count": 39
        },
        {
            "backdrop_path": "/elnVoZPBXwGVh5xD5PLbvIzmvOZ.jpg",
            "id": 8967,
            "original_title": "The Tree of Life",
            "release_date": "2011-05-27",
            "poster_path": "/5uiccn657MLiAbVHS5SfWFdeSTw.jpg",
            "title": "The Tree of Life",
            "vote_average": 7.4000000000000004,
            "vote_count": 19
        },
        {
            "backdrop_path": "/cnGPiAd7D50YFcpt6HK7CwTUCew.jpg",
            "id": 49530,
            "original_title": "In Time",
            "release_date": "2011-10-28",
            "poster_path": "/lnYuAr3QOPzvuEFlzpsRUq41IEy.jpg",
            "title": "In Time",
            "vote_average": 6.9000000000000004,
            "vote_count": 54
        },
        {
            "backdrop_path": "/1qQiuN2QlBR3VmIwqBXYFGCCZbl.jpg",
            "id": 49527,
            "original_title": "Man on a Ledge",
            "release_date": "2012-01-27",
            "poster_path": "/ssl4ZcThbMtEPNBEXmWpSgtT9xK.jpg",
            "title": "Man on a Ledge",
            "vote_average": 7.2000000000000002,
            "vote_count": 16
        },
        {
            "backdrop_path": "/gxbO2y8jeEvwGHDLC8ErqSf61ca.jpg",
            "id": 80389,
            "original_title": "Get the Gringo",
            "release_date": "2012-05-01",
            "poster_path": "/6yo4E8B0WbIpiHbY01Dq8r6dH8V.jpg",
            "title": "Get the Gringo",
            "vote_average": 7.7000000000000002,
            "vote_count": 8
        },
        {
            "backdrop_path": "/pbYQevN15y5aEusvcsp3bpuu5Ip.jpg",
            "id": 65754,
            "original_title": "The Girl with the Dragon Tattoo",
            "release_date": "2011-12-21",
            "poster_path": "/voxRWFTtagLiqnJQs9tWQLB0MN.jpg",
            "title": "The Girl with the Dragon Tattoo",
            "vote_average": 7.9000000000000004,
            "vote_count": 49
        },
        {
            "backdrop_path": "/3DdCnPuMq5QRXRE4PMrI3VEQI94.jpg",
            "id": 13007,
            "original_title": "Religulous",
            "release_date": "2008-10-01",
            "poster_path": "/lGo6P1rEs1GJnYJW9a6whlcljtZ.jpg",
            "title": "Religulous",
            "vote_average": 7.4000000000000004,
            "vote_count": 4
        },
        {
            "backdrop_path": "/wWwHt3NvdnGLXrGRR4n7GU6ISkh.jpg",
            "id": 64690,
            "original_title": "Drive",
            "release_date": "2012-01-26",
            "poster_path": "/fsnaaNQ4RmZwgRv6qfT7NIi41Sj.jpg",
            "title": "Drive",
            "vote_average": 7.7999999999999998,
            "vote_count": 80
        },
        {
            "backdrop_path": "/dNdrWdlOEuisZ1YyafkkPEWAihn.jpg",
            "id": 12690,
            "original_title": "Appaloosa",
            "release_date": "2008-10-03",
            "poster_path": "/5Ql3TsG08yvVBDyV5azOWUVKmuy.jpg",
            "title": "Appaloosa",
            "vote_average": 7.4000000000000004,
            "vote_count": 13
        },
        {
            "backdrop_path": "/7u3UyejCbhM3jXcZ86xzA9JJxge.jpg",
            "id": 41154,
            "original_title": "Men in Black 3",
            "release_date": "2012-05-25",
            "poster_path": "/sIuneIyme2O3qYxEZTVNyJ0F0LC.jpg",
            "title": "Men in Black 3",
            "vote_average": 7.5,
            "vote_count": 27
        }
    ],
    "total_pages": 4,
    "total_results": 67
}

Get the list of TV series on an accounts watchlist.

<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td colspan="2"><strong>Required Parameters</strong></td></tr>
<tr><td colspan="2">api_key</td></tr>
<tr><td colspan="2">session_id</td></tr>
<tr><td colspan="2"><strong>Optional Parameters</strong></td></tr>
<tr><td style="padding-right: 40px; width: 140px;">page</td><td>Minimum 1, maximum 1000.</td></tr>
<tr><td style="padding-right: 40px; width: 140px;">sort_by</td><td>`created_at.desc` or `created_at.asc`</td></tr>
<tr><td style="padding-right: 40px; width: 140px;">language</td><td>ISO 639-1 code. Without one set, we default to the language set in the requested account.</td></tr>
</table>

GET /account/{id}/watchlist/tv
> Accept: application/json
< 200
< Content-Type: application/json
< ETag: "f32c526ef2529908508a893bdf7f3f97"
{
  "page": 1,
  "results": [
    {
      "backdrop_path": "/9deImMawq7fmsUlKCxmFgrlGpVr.jpg",
      "id": 51370,
      "original_name": "Resurrection",
      "first_air_date": "2014-03-09",
      "poster_path": "/oNiK8YaOGR995kLlNPhsM3mx506.jpg",
      "popularity": 0.99,
      "name": "Resurrection",
      "vote_average": 8.0,
      "vote_count": 1
    },
    {
      "backdrop_path": "/kbm0hkS347LkJNUtGA9wAJX7lYb.jpg",
      "id": 60573,
      "original_name": "Silicon Valley",
      "first_air_date": "2014-04-06",
      "poster_path": "/fS4IX85GZBFOwRx8vfJkgESGhrs.jpg",
      "popularity": 1.8120293804375,
      "name": "Silicon Valley",
      "vote_average": 0.0,
      "vote_count": 0
    },
    {
      "backdrop_path": "/ptZO3SuJAXT4sm0doQavofRrRfq.jpg",
      "id": 60625,
      "original_name": "Rick and Morty",
      "first_air_date": "2013-12-02",
      "poster_path": "/4LIf49No2uCJYJyaMykrVfXzIUn.jpg",
      "popularity": 0.46,
      "name": "Rick and Morty",
      "vote_average": 0.0,
      "vote_count": 0
    },
    {
      "backdrop_path": "/6FgbxsykcjfsvXGhJgobnHBuDrH.jpg",
      "id": 40293,
      "original_name": "Da Vinci's Demons",
      "first_air_date": "2013-04-12",
      "poster_path": "/zfgZdPc0zqM3CPZRtx3EFszUySQ.jpg",
      "popularity": 0.317,
      "name": "Da Vinci's Demons",
      "vote_average": 9.3,
      "vote_count": 2
    },
    {
      "backdrop_path": "/aQYd90P7ZW76ksaZLvRWR411xtj.jpg",
      "id": 60626,
      "original_name": "From Dusk till Dawn: The Series",
      "first_air_date": "2014-03-11",
      "poster_path": "/eoPTkEam7IxX0NdFXIn9mRTKDKt.jpg",
      "popularity": 1.092,
      "name": "From Dusk till Dawn: The Series",
      "vote_average": 7.0,
      "vote_count": 1
    },
    {
      "backdrop_path": "/ilucedmlirlodJoCvPcFwoBFpmc.jpg",
      "id": 58474,
      "original_name": "Cosmos: A Space-Time Odyssey",
      "first_air_date": "2014-03-09",
      "poster_path": "/jViSxrU3NBvmNsQBpf37sPBmBOq.jpg",
      "popularity": 2.457,
      "name": "Cosmos: A Space-Time Odyssey",
      "vote_average": 8.0,
      "vote_count": 4
    },
    {
      "backdrop_path": "/l0LvPl3lAJm6KtIw4RFesHTZ3zN.jpg",
      "id": 60611,
      "original_name": "Believe",
      "first_air_date": "2014-03-10",
      "poster_path": "/zWIBUpttd9SsErSGhVJ2mTIMlgr.jpg",
      "popularity": 0.830302524729031,
      "name": "Believe",
      "vote_average": 0.0,
      "vote_count": 0
    },
    {
      "backdrop_path": "/nJ5ewByOmbLN6pkY8JdqbEQU2OB.jpg",
      "id": 60622,
      "original_name": "Fargo",
      "first_air_date": "2014-04-15",
      "poster_path": "/uFrBO6au1CGeVSzqKHJtOob3Kum.jpg",
      "popularity": 9.48153125,
      "name": "Fargo",
      "vote_average": 4.5,
      "vote_count": 2
    },
    {
      "backdrop_path": null,
      "id": 60574,
      "original_name": "Peaky Blinders",
      "first_air_date": "2013-09-12",
      "poster_path": "/uYsF4E6q5GjD73VxPIgcBqb0rB6.jpg",
      "popularity": 0.58,
      "name": "Peaky Blinders",
      "vote_average": 0.0,
      "vote_count": 0
    },
    {
      "backdrop_path": "/3FAeq3AXkmfvEdXuJayW1u51Cwv.jpg",
      "id": 1430,
      "original_name": "Cosmos: A Personal Voyage",
      "first_air_date": "1980-09-28",
      "poster_path": "/3fSpmqsGZrWtdzEqvnIcdTqMSrB.jpg",
      "popularity": 0.575,
      "name": "Cosmos: A Personal Voyage",
      "vote_average": 10.0,
      "vote_count": 2
    },
    {
      "backdrop_path": "/j1QcJ98qou1lZFEhb9th6rbUDHz.jpg",
      "id": 55083,
      "original_name": "Hostages",
      "first_air_date": "2013-09-23",
      "poster_path": "/nLQAG3K9wBl9yYz5cT3uyxDxOQ3.jpg",
      "popularity": 0.26,
      "name": "Hostages",
      "vote_average": 7.0,
      "vote_count": 1
    },
    {
      "backdrop_path": "/asANEWJ6751csWnN1BwkScIMHpL.jpg",
      "id": 44305,
      "original_name": "DreamWorks Dragons",
      "first_air_date": "2012-08-07",
      "poster_path": "/dBeefOkpTRlpXPiEVqjXa1GMjL0.jpg",
      "popularity": 1.92817199090997,
      "name": "DreamWorks Dragons",
      "vote_average": 5.5,
      "vote_count": 1
    },
    {
      "backdrop_path": "/p3STM36Mc47GKWqld10GHjs8RGS.jpg",
      "id": 32573,
      "original_name": "Strike Back",
      "first_air_date": "2010-05-05",
      "poster_path": "/mbu1JI0dFI0hQ8ksfe9fqcvIvfl.jpg",
      "popularity": 1.07164437297133,
      "name": "Strike Back",
      "vote_average": 7.4,
      "vote_count": 4
    },
    {
      "backdrop_path": "/rS52WPTDWzUKput9X81JKe0UY5Q.jpg",
      "id": 32940,
      "original_name": "Accused",
      "first_air_date": "2010-11-15",
      "poster_path": "/fYkJF28Q91gMK6pEiz7ZtSa7ul3.jpg",
      "popularity": 0.309104,
      "name": "Accused",
      "vote_average": 7.5,
      "vote_count": 1
    },
    {
      "backdrop_path": "/35AV3nRuQoTSepIqFg4U92PFPWG.jpg",
      "id": 44840,
      "original_name": "Mob City",
      "first_air_date": "2013-12-04",
      "poster_path": "/7RnHXmCRCa4vPI3BK3oKBHiQVlG.jpg",
      "popularity": 0.37193,
      "name": "Mob City",
      "vote_average": 0.0,
      "vote_count": 0
    },
    {
      "backdrop_path": "/zinqlHnka4fIMQZTRY39cdnkqzq.jpg",
      "id": 51320,
      "original_name": "The Millers",
      "first_air_date": "2013-10-03",
      "poster_path": "/h2O7lbEhRABP2n9WYkWSq5n0rwA.jpg",
      "popularity": 0.32,
      "name": "The Millers",
      "vote_average": 0.0,
      "vote_count": 0
    },
    {
      "backdrop_path": "/p2gWPRGUErQiTQ3ieTqeCirdtKx.jpg",
      "id": 58942,
      "original_name": "The Michael J. Fox Show",
      "first_air_date": "2013-09-26",
      "poster_path": "/iVIhtD07Ld8envEA6R1sf8MkLOR.jpg",
      "popularity": 0.2,
      "name": "The Michael J. Fox Show",
      "vote_average": 0.0,
      "vote_count": 0
    },
    {
      "backdrop_path": "/FYp0CaACSWHt265YKVDeKf7YHV.jpg",
      "id": 1695,
      "original_name": "Monk",
      "first_air_date": "2002-07-12",
      "poster_path": "/aI3GJXEmtb1k5uWb8O8tkmNlkbQ.jpg",
      "popularity": 3.44432093018317,
      "name": "Monk",
      "vote_average": 7.8,
      "vote_count": 3
    },
    {
      "backdrop_path": "/dTKkOs7ZMCO9KN3sGqrizrN5YwE.png",
      "id": 32406,
      "original_name": "The Big C",
      "first_air_date": "2010-08-16",
      "poster_path": "/9VxPo04xWQmv5deFc5iP4XuXV3e.jpg",
      "popularity": 0.585,
      "name": "The Big C",
      "vote_average": 9.0,
      "vote_count": 1
    },
    {
      "backdrop_path": "/dBD03Hpzji8qYnuKp1Y2dGqdxwL.jpg",
      "id": 43901,
      "original_name": "Longmire",
      "first_air_date": "2012-06-03",
      "poster_path": "/fAxfZWAUUkbutwOXAcbZ2AE3qIK.jpg",
      "popularity": 0.417,
      "name": "Longmire",
      "vote_average": 7.0,
      "vote_count": 1
    }
  ],
  "total_pages": 2,
  "total_results": 36
}

Add or remove a movie to an accounts watch list.

<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td style="padding-left: 0;" colspan="2"><strong>Required Parameters</strong></td></tr>
<tr><td style="padding-left: 0;" colspan="2">api_key</td></tr>
<tr><td style="padding-left: 0;" colspan="2">session_id</td></tr>
<tr><td style="padding-left: 0;" colspan="2"><strong>Required JSON Body</strong></td></tr>
<tr><td style="padding-left: 0; padding-right: 40px; width: 140px;">media_type</td><td>movie | tv</td></tr>
<tr><td style="padding-left: 0; padding-right: 40px; width: 140px;">media_id</td><td>Integer</td></tr>
<tr><td style="padding-left: 0; padding-right: 40px; width: 140px;">watchlist</td><td>true | false</td></tr>
</table>

POST /account/{id}/watchlist
> Accept: application/json
> Content-Type: application/json
{
    "media_type": "movie",
    "media_id": 11,
    "watchlist": true
}
< 200
< Content-Type: application/json
{
    "status_code": 1,
    "status_message": "Success"
}

--
Authentication
--

This method is used to generate a valid request token for user based authentication. A request token is required in order to request a session id. You can read more about this process <a href="https://www.themoviedb.org/documentation/api/sessions">here</a>.

You can generate any number of request tokens but they will expire after 60 minutes. As soon as a valid session id has been created the token will be destroyed.

<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td style="padding-left: 0;" colspan="2"><strong>Required Parameters</strong></td></tr>
<tr><td style="padding-left: 0;" colspan="2">api_key</td></tr>
</table>

GET /authentication/token/new
> Accept: application/json
< 200
< Content-Type: application/json
< Authentication-Callback: http://www.themoviedb.org/authenticate/641bf16c663db167c6cffcdff41126039d4445bf
{
    "expires_at": "2012-02-09 19:50:25 UTC",
    "request_token": "641bf16c663db167c6cffcdff41126039d4445bf",
    "success": true
}

Once you have a valid request token you can use this method to authenticate a user with a TMDb username and password. You can authenticate a request token 2 different ways, both are outlined <a href="https://www.themoviedb.org/documentation/api/sessions">here</a>.

The user must have a verified email address and be registered on TMDb. As soon as the request token has been verified and attached to a user, the request token will be invalidated.

<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td style="padding-left: 0;" colspan="2"><strong>Required Parameters</strong></td></tr>
<tr><td style="padding-left: 0;" colspan="2">api_key</td></tr>
<tr><td style="padding-left: 0;" colspan="2">request_token</td></tr>
<tr><td style="padding-left: 0;" colspan="2">username</td></tr>
<tr><td style="padding-left: 0;" colspan="2">password</td></tr>
</table>

GET /authentication/token/validate_with_login
> Accept: application/json
< 200
< Content-Type: application/json
{
    "request_token": "641bf16c663db167c6cffcdff41126039d4445bf",
    "success": true
}

This method is used to generate a session id for user based authentication. A session id is required in order to use any of the write methods.

<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td style="padding-left: 0;" colspan="2"><strong>Required Parameters</strong></td></tr>
<tr><td style="padding-left: 0;" colspan="2">api_key</td></tr>
<tr><td style="padding-left: 0; padding-right: 40px; width: 100px;">request_token</td><td>The request token parameter is the token you generated for the user to approve. The token needs to be approved by the user before being used here. You can read more about this process <a href="https://www.themoviedb.org/documentation/api/sessions">here</a>.</td></tr>
</table>

GET /authentication/session/new
> Accept: application/json
< 200
< Content-Type: application/json
{
    "session_id": "80b2bf99520cd795ff54e31af97917bc9e3a7c8c",
    "success": true
}

This method is used to generate a guest session id.

A guest session can be used to rate movies without having a registered TMDb user account. You should only generate a single guest session per user (or device) as you will be able to attach the ratings to a TMDb user account in the future. There is also IP limits in place so you should always make sure it's the end user doing the guest session actions.

If a guest session is not used for the first time within 24 hours, it will be automatically discarded.

<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td style="padding-left: 0;" colspan="2"><strong>Required Parameters</strong></td></tr>
<tr><td style="padding-left: 0;" colspan="2">api_key</td></tr>
</table>

GET /authentication/guest_session/new
> Accept: application/json
< 200
< Content-Type: application/json
{
    "success": true,
    "guest_session_id": "0c550fd5da2fc3f321ab3bs9b60ca108",
    "expires_at": "2012-12-04 22:51:19 UTC"
}

--
Certifications
--

Get the list of supported certifications for movies. These can be used in conjunction with the `certification_country` and `certification.lte` parameters when using discover.

<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td style="padding-left: 0;" colspan="2"><strong>Required Parameters</strong></td></tr>
<tr><td style="padding-left: 0;" colspan="2">api_key</td></tr>
</table>

GET /certification/movie/list
> Accept: application/json
< 200
< Content-Type: application/json
< ETag: "f1552fb1837bdbe161779ae3cd8bd041"
{
  "certifications": {
    "AU": [
      {
        "certification": "E",
        "meaning": "Exempt from classification. Films that are exempt from classification must not contain contentious material (i.e. material that would ordinarily be rated M or higher).",
        "order": 1
      },
      {
        "certification": "G",
        "meaning": "General. The content is very mild in impact.",
        "order": 2
      },
      {
        "certification": "PG",
        "meaning": "Parental guidance recommended. There are no age restrictions. The content is mild in impact.",
        "order": 2
      },
      {
        "certification": "M",
        "meaning": "Recommended for mature audiences. There are no age restrictions. The content is moderate in impact.",
        "order": 3
      },
      {
        "certification": "MA15+",
        "meaning": "Mature Accompanied. Unsuitable for children younger than 15. Children younger than 15 years must be accompanied by a parent or guardian. The content is strong in impact.",
        "order": 5
      },
      {
        "certification": "R18+",
        "meaning": "Restricted to 18 years and over. Adults only. The content is high in impact.",
        "order": 6
      },
      {
        "certification": "X18+",
        "meaning": "Restricted to 18 years and over. Films with this rating have pornographic content. Films classified as X18+ are banned from being sold or rented in all Australian states and are only legally available in the Australian Capital Territory and the Northern Territory. However, importing X18+ material from the two territories to any of the Australian states is legal.The content is sexually explicit in impact.",
        "order": 7
      },
      {
        "certification": "RC",
        "meaning": "Refused Classification. Banned from sale or hire in Australia; also generally applies to importation (if inspected by and suspicious to Customs). Private Internet viewing is unenforced and attempts to legally censor such online material has resulted in controversy. Films are rated RC if their content exceeds the guidelines. The content is very high in impact.",
        "order": 8
      }
    ],
    "CA": [
      {
        "certification": "G",
        "meaning": "All ages.",
        "order": 1
      },
      {
        "certification": "PG",
        "meaning": "Parental guidance advised. There is no age restriction but some material may not be suitable for all children.",
        "order": 2
      },
      {
        "certification": "14A",
        "meaning": "Persons under 14 years of age must be accompanied by an adult.",
        "order": 3
      },
      {
        "certification": "18A",
        "meaning": "Persons under 18 years of age must be accompanied by an adult. In the Maritimes & Manitoba, children under the age of 14 are prohibited from viewing the film.",
        "order": 4
      },
      {
        "certification": "R",
        "meaning": "Admittance restricted to people 18 years of age or older.",
        "order": 5
      },
      {
        "certification": "A",
        "meaning": "Admittance restricted to people 18 years of age or older. Sole purpose of the film is the portrayal of sexually explicit activity and/or explicit violence.",
        "order": 5
      }
    ],
    "DE": [
      {
        "certification": "0",
        "meaning": "No age restriction.",
        "order": 1
      },
      {
        "certification": "6",
        "meaning": "No children younger than 6 years admitted.",
        "order": 2
      },
      {
        "certification": "12",
        "meaning": "Children 12 or older admitted, children between 6 and 11 only when accompanied by parent or a legal guardian.",
        "order": 3
      },
      {
        "certification": "16",
        "meaning": "Children 16 or older admitted, nobody under this age admitted.",
        "order": 4
      },
      {
        "certification": "18",
        "meaning": "No youth admitted, only adults.",
        "order": 5
      }
    ],
    "FR": [
      {
        "certification": "U",
        "meaning": "(Tous publics) valid for all audiences.",
        "order": 1
      },
      {
        "certification": "10",
        "meaning": "(Déconseillé aux moins de 10 ans) unsuitable for children younger than 10 (this rating is only used for TV); equivalent in theatres : \"avertissement\" (warning), some scenes may be disturbing to young children and sensitive people; equivalent on video : \"accord parental\" (parental guidance).",
        "order": 2
      },
      {
        "certification": "12",
        "meaning": "(Interdit aux moins de 12 ans) unsuitable for children younger than 12 or forbidden in cinemas for under 12.",
        "order": 3
      },
      {
        "certification": "16",
        "meaning": "(Interdit aux moins de 16 ans) unsuitable for children younger than 16 or forbidden in cinemas for under 16.",
        "order": 4
      },
      {
        "certification": "18",
        "meaning": "(Interdit aux mineurs) unsuitable for children younger than 18 or forbidden in cinemas for under 18.",
        "order": 5
      }
    ],
    "GB": [
      {
        "certification": "U",
        "meaning": "All ages admitted, there is nothing unsuitable for children.",
        "order": 1
      },
      {
        "certification": "PG",
        "meaning": "All ages admitted, but certain scenes may be unsuitable for young children. May contain mild language and sex/drugs references. May contain moderate violence if justified by context (e.g. fantasy).",
        "order": 2
      },
      {
        "certification": "12A",
        "meaning": "Films under this category are considered to be unsuitable for very young people. Those aged under 12 years are only admitted if accompanied by an adult, aged at least 18 years, at all times during the motion picture. However, it is generally not recommended that children under 12 years should watch the film. Films under this category can contain mature themes, discrimination, soft drugs, moderate swear words, infrequent strong language and moderate violence, sex references and nudity. Sexual activity may be briefly and discreetly portrayed. Sexual violence may be implied or briefly indicated.",
        "order": 3
      },
      {
        "certification": "12",
        "meaning": "Home media only since 2002. 12A-rated films are usually given a 12 certificate for the VHS/DVD version unless extra material has been added that requires a higher rating. Nobody younger than 12 can rent or buy a 12-rated VHS, DVD, Blu-ray Disc, UMD or game. The content guidelines are identical to those used for the 12A certificate.",
        "order": 4
      },
      {
        "certification": "15",
        "meaning": "Only those over 15 years are admitted. Nobody younger than 15 can rent or buy a 15-rated VHS, DVD, Blu-ray Disc, UMD or game, or watch a film in the cinema with this rating. Films under this category can contain adult themes, hard drugs, frequent strong language and limited use of very strong language, strong violence and strong sex references, and nudity without graphic detail. Sexual activity may be portrayed but without any strong detail. Sexual violence may be shown if discreet and justified by context.",
        "order": 5
      },
      {
        "certification": "18",
        "meaning": "Only adults are admitted. Nobody younger than 18 can rent or buy an 18-rated VHS, DVD, Blu-ray Disc, UMD or game, or watch a film in the cinema with this rating. Films under this category do not have limitation on the bad language that is used. Hard drugs are generally allowed, and explicit sex references along with detailed sexual activity are also allowed. Scenes of strong real sex may be permitted if justified by the context. Very strong, gory, and/or sadistic violence is usually permitted. Strong sexual violence is permitted unless it is eroticised or excessively graphic.",
        "order": 6
      },
      {
        "certification": "R18",
        "meaning": "Can only be shown at licensed adult cinemas or sold at licensed sex shops, and only to adults, those aged 18 or over. Films under this category are always hard-core pornography, defined as material intended for sexual stimulation and containing clear images of real sexual activity, strong fetish material, explicit animated images, or sight of certain acts such as triple simultaneous penetration and snowballing. There remains a range of material that is often cut from the R18 rating: strong images of injury in BDSM or spanking works, urolagnia, scenes suggesting incest even if staged, references to underage sex or childhood sexual development and aggressive behaviour such as hair-pulling or spitting on a performer are not permitted. More cuts are demanded in this category than any other category.",
        "order": 7
      }
    ],
    "IN": [
      {
        "certification": "U",
        "meaning": "Unrestricted Public Exhibition throughout India, suitable for all age groups. Films under this category should not upset children over 4. Such films may contain educational, social or family-oriented themes. Films under this category may also contain fantasy violence and/or mild bad language.",
        "order": 0
      },
      {
        "certification": "UA",
        "meaning": "All ages admitted, but it is advised that children below 12 be accompanied by a parent as the theme or content may be considered intense or inappropriate for young children. Films under this category may contain mature themes, sexual references, mild sex scenes, violence with brief gory images and/or infrequent use of crude language.",
        "order": 1
      },
      {
        "certification": "A",
        "meaning": "Restricted to adult audiences (18 years or over). Nobody below the age of 18 may buy/rent an A-rated DVD, VHS, UMD or watch a film in the cinema with this rating. Films under this category may contain adult/disturbing themes, frequent crude language, brutal violence with blood and gore, strong sex scenes and/or scenes of drug abuse which is considered unsuitable for minors.",
        "order": 2
      }
    ],
    "NZ": [
      {
        "certification": "G",
        "meaning": "Suitable for general audiences.",
        "order": 1
      },
      {
        "certification": "PG",
        "meaning": "Parental guidance recommended for younger viewers.",
        "order": 2
      },
      {
        "certification": "M",
        "meaning": "Suitable for (but not restricted to) mature audiences 16 years and up.",
        "order": 3
      },
      {
        "certification": "13",
        "meaning": "Restricted to persons 13 years of age and over.",
        "order": 4
      },
      {
        "certification": "15",
        "meaning": "Restricted to persons 15 years of age and over.",
        "order": 5
      },
      {
        "certification": "16",
        "meaning": "Restricted to persons 16 years of age and over.",
        "order": 6
      },
      {
        "certification": "18",
        "meaning": "Restricted to persons 18 years of age and over.",
        "order": 7
      },
      {
        "certification": "R",
        "meaning": "Restricted to a particular class of persons, or for particular purposes, or both.",
        "order": 8
      }
    ],
    "US": [
      {
        "certification": "NR",
        "meaning": "No rating information.",
        "order": 0
      },
      {
        "certification": "G",
        "meaning": "All ages admitted. There is no content that would be objectionable to most parents. This is one of only two ratings dating back to 1968 that still exists today.",
        "order": 1
      },
      {
        "certification": "PG",
        "meaning": "Some material may not be suitable for children under 10. These films may contain some mild language, crude/suggestive humor, scary moments and/or violence. No drug content is present. There are a few exceptions to this rule. A few racial insults may also be heard.",
        "order": 2
      },
      {
        "certification": "PG-13",
        "meaning": "Some material may be inappropriate for children under 13. Films given this rating may contain sexual content, brief or partial nudity, some strong language and innuendo, humor, mature themes, political themes, terror and/or intense action violence. However, bloodshed is rarely present. This is the minimum rating at which drug content is present.",
        "order": 3
      },
      {
        "certification": "R",
        "meaning": "Under 17 requires accompanying parent or adult guardian 21 or older. The parent/guardian is required to stay with the child under 17 through the entire movie, even if the parent gives the child/teenager permission to see the film alone. These films may contain strong profanity, graphic sexuality, nudity, strong violence, horror, gore, and strong drug use. A movie rated R for profanity often has more severe or frequent language than the PG-13 rating would permit. An R-rated movie may have more blood, gore, drug use, nudity, or graphic sexuality than a PG-13 movie would admit.",
        "order": 4
      },
      {
        "certification": "NC-17",
        "meaning": "These films contain excessive graphic violence, intense or explicit sex, depraved, abhorrent behavior, explicit drug abuse, strong language, explicit nudity, or any other elements which, at present, most parents would consider too strong and therefore off-limits for viewing by their children and teens. NC-17 does not necessarily mean obscene or pornographic in the oft-accepted or legal meaning of those words.",
        "order": 5
      }
    ]
  }
}

Get the list of supported certifications for tv shows.

<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td style="padding-left: 0;" colspan="2"><strong>Required Parameters</strong></td></tr>
<tr><td style="padding-left: 0;" colspan="2">api_key</td></tr>
</table>

GET /certification/tv/list
> Accept: application/json
< 200
< Content-Type: application/json
< ETag: "8eaffdba2d2222a6f9406193669d8342"
{
  "certifications": {
    "AU": [
      {
        "certification": "P",
        "meaning": "Programming is intended for younger children 2–11; commercial stations must show at least 30 minutes of P-rated content each weekday and weekends at all times. No advertisements may be shown during P-rated programs.",
        "order": 1
      },
      {
        "certification": "C",
        "meaning": "Programming intended for older children 5–14; commercial stations must show at least 30 minutes of C-rated content each weekday between 7 a.m. and 8 a.m. or between 4 p.m. and 8:30 p.m. A further 2 and a half ours a week must also be shown either within these time bands or between 7 a.m. and 8:30 p.m. on weekends and school holidays, for a total of five hours a week (averaged as 260 hours over the course of a year). C-rated content is subject to certain restrictions and limitations on advertising (typically five minutes maximum per 30-minute period or seven minutes including promotions and community announcements).",
        "order": 2
      },
      {
        "certification": "G",
        "meaning": "For general exhibition; all ages are permitted to watch programming with this rating.",
        "order": 3
      },
      {
        "certification": "PG",
        "meaning": "Parental guidance is recommended for young viewers; PG-rated content may air at any time on digital-only channels, otherwise, it should only be broadcast between 8:30 a.m. and 4:00 p.m. and between 7:00 p.m. and 6:00 a.m. on weekdays, and between 10:00 a.m. and 6:00 a.m. on weekends.",
        "order": 4
      },
      {
        "certification": "M",
        "meaning": "Recommended for mature audiences; M-rated content may only be broadcast between 8:30 p.m. and 5:00 a.m. on any day, and additionally between 12:00 p.m. and 3:00 p.m. on schooldays.",
        "order": 5
      },
      {
        "certification": "MA15+",
        "meaning": "Not suitable for children and teens under 15; MA15+-rated programming may only be broadcast between 9:00 p.m. and 5:00 a.m. on any given day. Consumer advice is mandatory. Some R18+ rated movies on DVD/Blu-ray are often re-edited on free TV/cable channels to secure a more \"appropriate\" MA15+ rating. Some movies that were rated R18 on DVD have since been aired in Australian TV with MA15+ rating.",
        "order": 6
      },
      {
        "certification": "AV15+",
        "meaning": "Not suitable for children and teens under 15; this is the same as the MA15+ rating, except the \"AV\" stands for \"Adult Violence\" meaning that anything that is Classified \"MA15+\" with the consumer advice \"Frequent Violence\" or \"Strong Violence\" will automatically become AV15+ (with that same consumer advice.) The AV rating is still allowed to exceed any MA15+ content, in particular – 'Violence'. AV15+ content may only be broadcast between 9:30 p.m. and 5:00 a.m. on any day. Consumer advice is mandatory.",
        "order": 7
      },
      {
        "certification": "R18+",
        "meaning": "Not for children under 18; this is limited to Adult \"Pay Per View\" VC 196 and 197. Content may include graphic violence, sexual situations, coarse language and explicit drug use.",
        "order": 8
      }
    ],
    "CA": [
      {
        "certification": "Exempt",
        "meaning": "Shows which are exempt from ratings (such as news and sports programming) will not display an on-screen rating at all.",
        "order": 0
      },
      {
        "certification": "C",
        "meaning": "Programming suitable for children ages of 2–7 years. No profanity or sexual content of any level allowed. Contains little violence.",
        "order": 1
      },
      {
        "certification": "C8",
        "meaning": "Suitable for children ages 8+. Low level violence and fantasy horror is allowed. No foul language is allowed, but occasional \"socially offensive and discriminatory\" language is allowed if in the context of the story. No sexual content of any level allowed.",
        "order": 2
      },
      {
        "certification": "G",
        "meaning": "Suitable for general audiences. Programming suitable for the entire family with mild violence, and mild profanity and/or censored language.",
        "order": 3
      },
      {
        "certification": "PG",
        "meaning": "Parental guidance. Moderate violence and moderate profanity is allowed, as is brief nudity and sexual references if important to the context of the story.",
        "order": 4
      },
      {
        "certification": "14+",
        "meaning": "Programming intended for viewers ages 14 and older. May contain strong violence and strong profanity, and depictions of sexual activity as long as they are within the context of a story.",
        "order": 5
      },
      {
        "certification": "18+",
        "meaning": "Programming intended for viewers ages 18 and older. May contain explicit violence and sexual activity. Programming with this rating cannot air before the watershed (9:00 p.m. to 6:00 a.m.).",
        "order": 6
      }
    ],
    "FR": [
      {
        "certification": "NR",
        "meaning": "No rating information.",
        "order": 0
      },
      {
        "certification": "10",
        "meaning": "Not recommended for children under 10. Not allowed in children's television series.",
        "order": 1
      },
      {
        "certification": "12",
        "meaning": "Not recommended for children under 12. Not allowed air before 10:00 p.m. Some channels and programs are subject to exception.",
        "order": 2
      },
      {
        "certification": "16",
        "meaning": "Not recommended for children under 16. Not allowed air before 10:30 p.m. Some channels and programs are subject to exception.",
        "order": 3
      },
      {
        "certification": "18",
        "meaning": "Not recommended for persons under 18. Allowed between midnight and 5 a.m. and only in some channels, access to these programs is locked by a personal password.",
        "order": 4
      }
    ],
    "RU": [
      {
        "certification": "0+",
        "meaning": "Can be watched by Any Age.",
        "order": 1
      },
      {
        "certification": "6+",
        "meaning": "Only kids the age of 6 or older can watch.",
        "order": 2
      },
      {
        "certification": "12+",
        "meaning": "Only kids the age of 12 or older can watch.",
        "order": 3
      },
      {
        "certification": "16+",
        "meaning": "Only teens the age of 16 or older can watch.",
        "order": 4
      },
      {
        "certification": "18+",
        "meaning": "Restricted to People 18 or Older.",
        "order": 5
      }
    ],
    "US": [
      {
        "certification": "NR",
        "meaning": "No rating information.",
        "order": 0
      },
      {
        "certification": "TV-Y",
        "meaning": "This program is designed to be appropriate for all children.",
        "order": 1
      },
      {
        "certification": "TV-Y7",
        "meaning": "This program is designed for children age 7 and above.",
        "order": 2
      },
      {
        "certification": "TV-G",
        "meaning": "Most parents would find this program suitable for all ages.",
        "order": 3
      },
      {
        "certification": "TV-PG",
        "meaning": "This program contains material that parents may find unsuitable for younger children.",
        "order": 4
      },
      {
        "certification": "TV-14",
        "meaning": "This program contains some material that many parents would find unsuitable for children under 14 years of age.",
        "order": 5
      },
      {
        "certification": "TV-MA",
        "meaning": "This program is specifically designed to be viewed by adults and therefore may be unsuitable for children under 17.",
        "order": 6
      }
    ]
  }
}

--
Changes
--

Get a list of movie ids that have been edited. By default we show the last 24 hours and only 100 items per page. The maximum number of days that can be returned in a single request is 14. You can then use the [movie changes API](#get-%2F3%2Fmovie%2F%7Bid%7D%2Fchanges) to get the actual data that has been changed.

**Please note:** the change log system to support this was changed on October 5, 2012 and will only show movies that have been edited since.

<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td colspan="2"><strong>Required Parameters</strong></td></tr>
<tr><td colspan="2">api_key</td></tr>
<tr><td colspan="2"><strong>Optional Parameters</strong></td></tr>
<tr><td style="padding-right: 40px; width: 140px;">page</td><td>Minimum 1, maximum 1000.</td></tr>
<tr><td style="padding-right: 40px; width: 140px;">start_date</td><td>YYYY-MM-DD</td></tr>
<tr><td style="padding-right: 40px; width: 140px;">end_date</td><td>YYYY-MM-DD</td></tr>
</table>

GET /movie/changes
> Accept: application/json
< 200
< Content-Type: application/json
< ETag: "0ca01e6b15143aa6fd9afa99c13d15fb"
{
    "results": [
        {
            "id": 77946,
            "adult": false
        },
        {
            "id": 125527,
            "adult": false
        },
        {
            "id": 41023,
            "adult": false
        },
        {
            "id": 41471,
            "adult": false
        },
        {
            "id": 11058,
            "adult": false
        },
        {
            "id": 136838,
            "adult": false
        },
        {
            "id": 41024,
            "adult": false
        },
        {
            "id": 136842,
            "adult": false
        },
        {
            "id": 136844,
            "adult": false
        },
        {
            "id": 136845,
            "adult": false
        },
        {
            "id": 707,
            "adult": false
        },
        {
            "id": 13572,
            "adult": false
        },
        {
            "id": 96428,
            "adult": false
        },
        {
            "id": 13377,
            "adult": false
        },
        {
            "id": 117416,
            "adult": false
        },
        {
            "id": 12405,
            "adult": false
        },
        {
            "id": 77338,
            "adult": false
        },
        {
            "id": 4643,
            "adult": false
        },
        {
            "id": 136847,
            "adult": false
        },
        {
            "id": 10264,
            "adult": false
        },
        {
            "id": 84165,
            "adult": false
        },
        {
            "id": 136849,
            "adult": false
        },
        {
            "id": 52256,
            "adult": false
        },
        {
            "id": 77697,
            "adult": false
        },
        {
            "id": 31800,
            "adult": false
        },
        {
            "id": 24808,
            "adult": false
        },
        {
            "id": 34840,
            "adult": false
        },
        {
            "id": 87428,
            "adult": false
        },
        {
            "id": 22099,
            "adult": false
        },
        {
            "id": 119372,
            "adult": false
        },
        {
            "id": 20813,
            "adult": false
        },
        {
            "id": 94671,
            "adult": false
        },
        {
            "id": 22097,
            "adult": false
        },
        {
            "id": 136510,
            "adult": false
        },
        {
            "id": 10068,
            "adult": false
        },
        {
            "id": 136850,
            "adult": false
        },
        {
            "id": 136851,
            "adult": false
        },
        {
            "id": 136852,
            "adult": false
        },
        {
            "id": 13531,
            "adult": false
        },
        {
            "id": 17971,
            "adult": false
        },
        {
            "id": 136854,
            "adult": false
        },
        {
[...]
